*{
    box-sizing: border-box;
}
body {
    margin: 0;
}

.container {
    min-width: 390px;
    margin: 0 auto;
    border: 1px solid red;
}

.discount-message {
    height: 40px;
   
    display: flex;
    align-items: center;
    justify-content: center;

    background: #000000;
}

.discount-text, .discount-href {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    color: #FFFFFF;
}

.discount-message-delete {
    position: absolute;
    right: 10px;
}

.header {
    height: 50px;
    margin: 60px 10px 25px 10px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header-logo {
    padding-bottom: 10px;
}

.header-logo-href {
    font-family: 'Integral CF';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;

    color: #000000;

    text-decoration: none;   
}

.header-shop {
    min-width: 320px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;

}

.header-menu{   
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: #000000;

    text-decoration: none;
}

.header-menu-span {
    padding-left: 5px;
}

.search {
    width: 575px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 15px;
    gap: 10px;

    background: #F0F0F0;
    border-radius: 60px;
}

.search-field {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: rgba(0, 0, 0, 0.4);

    background: #F0F0F0;
    border: none;
}

.login {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;   
}


