* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
}

body {
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  /*border: 1px solid red;*/
}

.hidden {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  opacity: 0;
  visibility: hidden;
  /* display: none; */
}

.container {
  min-width: 390px;
  max-width: 1240px;
  margin: 0 auto;
  border: 1px solid blue;
}

.main {
  flex-grow: 1;
  /*border: 5px solid green;*/
}

/* section discount */
.discount {
  height: 40px;
  background: #000000;
}

.discount-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discount-text,
.discount-href {
  padding: 10px 0;
  font-size: 14px;
  color: #ffffff;
}

.fa-times {
  font-size: 20px;
  color: #ffffff;
}

@media (max-width: 375px) {
  .discount {
    height: 40px;
    width: 390px;
    background: #000000;
  }
}
/* header */
.header {
  height: 50px;
  margin: 25px 0 15px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.header-logo {
  padding-bottom: 10px;
}

.header-logo-href {
  font-family: "Integral CF";
  font-weight: 700;
  font-size: 32px;
  color: #000000;
  text-decoration: none;
}

.header-nav {
  min-width: 320px;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.nav-menu,
.nav-link {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}

.nav-menu-span {
  padding-left: 5px;
}

.fa-chevron-down {
  color: #000000;
}

.search {
  width: 575px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 15px;
  background: #f0f0f0;
  border-radius: 60px;
}

.search-btn {
  border: none;
}

.fa-magnifying-glass {
  padding-top: 2px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
}

.search-field {
  width: 550px;
  padding: 5px;
  color: rgba(0, 0, 0, 0.4);
  background: #f0f0f0;
  border: none;
}

.search-field::-moz-placeholder {
  font-size: 16px;
  font-family: Satoshi;
}

.search-field::placeholder {
  font-size: 16px;
  font-family: Satoshi;
}

.search-field:active,
.search-field:hover,
.search-field:focus {
  outline: 0;
  outline-offset: 0;
}

.login {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
}

.fa-bars {
  font-size: 0px;
}

@media (max-width: 1240px) {
  .header-bars {
    margin: 0;
    padding: 0;
    padding: 0px 15px 10px 0px;
  }
  .fa-bars {
    font-size: 24px;
  }
  .header-nav {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
  }
}
@media (max-width: 768px) {
  .search {
    width: 400px;
  }
}
@media (max-width: 425px) {
  .header-logo-href {
    font-size: 25px;
  }
  .search {
    width: 45px;
    height: 45px;
    padding: 7px 0px 0px 70px;
    background: #ffffff;
    border: none;
  }
  .search-btn {
    background: #ffffff;
  }
  .search-field {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
  }
  .fa-magnifying-glass {
    color: #000000;
    background: #ffffff;
  }
}
/* section promo */
.promo {
  height: 665px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  background: #f2f0f1;
}

.promo-container {
  width: 100%;
  background: url(../img/promo.png) center top no-repeat;
}

.promo-text {
  width: 570px;
  margin: 0;
  padding: 0;
}

.promo-title {
  font-family: "Integral CF";
  font-weight: 700;
  font-size: 64px;
  color: #000000;
}

.promo-desc {
  padding-bottom: 20px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.promo-btn {
  width: 210px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 55px;
  gap: 10px;
  background: #000000;
  border-radius: 60px;
  transition: 1s;
}

.promo-btn-title {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
.promo-btn-title:hover {
  color: #000000;
}

.promo-aside-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 32px;
}

.promo-aside-first,
.promo-aside-second,
.promo-aside-third {
  height: 75px;
  font-weight: 700;
  font-size: 40px;
  color: #000000;
  display: flex;
  flex-direction: column;
}

.promo-aside-second {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 30px 0px 30px;
}

.promo-aside-desc {
  width: 170px;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 768px) {
  .promo {
    height: 1340px;
    background: #ffffff;
  }
  .promo-container {
    background: none;
  }
  .promo-img {
    height: 100%;
    width: 100%;
    background: url(../img/promo.png) 100% top no-repeat;
  }
  .promo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
  }
  .promo-btn {
    width: 360px;
    height: 55px;
    margin-bottom: 20px;
    padding: 15px 55px;
    gap: 12px;
    border-radius: 62px;
  }
}
@media (max-width: 425px) {
  .promo {
    height: 800px;
    margin-bottom: 0px;
  }
  .promo-img {
    height: 450px;
    background-size: 230%;
    background-position: 93%;
  }
  .promo-text {
    width: 360px;
    height: 275px;
    margin-left: 50px;
    margin-bottom: 110px;
  }
  .promo-title {
    font-family: "Integral CF";
    font-size: 38px;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    font-weight: 900;
  }
  .promo-desc {
    font-weight: 400;
    font-size: 14px;
    padding: 10px 0px;
  }
  .promo-btn {
    width: 360px;
    height: 55px;
    padding: 15px 55px;
    gap: 12px;
    border-radius: 62px;
  }
  .promo-aside-list {
    width: 390px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 0px;
  }
  .promo-aside-first,
  .promo-aside-second,
  .promo-aside-third {
    height: 50px;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
  }
  .promo-aside-second {
    border-right: none;
    padding-left: 30px;
  }
  .promo-aside-third {
    padding-top: 10px;
  }
  .promo-aside-desc {
    width: 120px;
    font-size: 12px;
  }
}
@media (max-width: 375px) {
  .promo-img {
    margin-top: 90px;
  }
  .promo-text {
    margin: 0px;
  }
}
@media (max-width: 320px) {
  .promo-img {
    background-size: 235%;
    background-position: 92%;
  }
  .promo {
    height: 785px;
  }
}
/* section breands */
.breands {
  margin-top: 15px;
  height: 120px;
  background: #000000;
}

.breands-list {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .breands {
    height: 145px;
  }
  .breands-list {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 0;
  }
  .breand-img {
    margin: 0px 70px 20px 0px;
  }
}
@media screen and (max-width: 425px) {
  .breand-img {
    margin: 10px 0px;
    height: 25px;
  }
}
@media screen and (max-width: 375px) {
  .breands {
    width: 390px;
  }
}
/* section new-arrivals */
.new-arrivals-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  height: 100%;
}

.section-title,
.reviews-title {
  font-family: "Integral CF";
  font-weight: 700;
  font-size: 48px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.item {
  width: 25%;
  height: 440px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0px 40px 0px;
  position: relative;
  transition: 0.5s;
}
.item:hover {
  width: 290px;
  height: 470px;
  transform: scale(1.1);
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-right: 15px;
  padding-bottom: 10px;
}
.item:active {
  border-radius: 20px;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.item:hover .overlay {
  opacity: 0.8;
}
.item:hover .item-rating {
  opacity: 1;
}
.item:hover .item-img {
  background: none;
  margin: 0px;
  border-radius: 20px 20px 0px 0px;
}

.overlay {
  width: 290px;
  height: 300px;
  border-radius: 20px 20px 0 0;
  background-color: rgba(58, 56, 56, 0.83);
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 83px;
  opacity: 0;
}

.overlay-btn-index,
.overlay-href {
  width: 123px;
  height: 39px;
  border: 1px solid #ffffff;
  background-color: #5a5858;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.overlay-href {
  margin-top: 5px;
  text-decoration: none;
}

.overlay-btn-img {
  width: 23px;
  height: 22px;
}

.overlay-btn-text {
  margin-left: 8px;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}

.item-img {
  width: 295px;
  height: 300px;
  background: #f0eeed;
  border-radius: 20px;
}

.item-title {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  padding: 15px 5px 0px 0px;
  text-transform: capitalize;
  flex-grow: 1;
}

.item-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}

.fa-star,
.fa-star-half {
  font-size: 18.49px;
  color: #ffc633;
}

.item-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.item-selling-price {
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}

.item-basic-price {
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  text-decoration-line: line-through;
  color: rgba(0, 0, 0, 0.4);
}

.item-price-discount {
  width: 60px;
  height: 30px;
  padding: 3px 15px;
  background: rgba(255, 51, 51, 0.1);
  border-radius: 60px;
}

.price-discount {
  font-weight: 500;
  font-size: 12px;
  color: #ff3333;
}

.view-all-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 80px 0;
}

.view-all-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 52px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  background-color: #ffffff;
  transition: 1s;
}
.view-all-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.view-all-btn-title {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

@media (max-width: 1024px) {
  .item {
    width: 30%;
    margin: 20px 15px;
  }
  .item:hover {
    width: 290px;
    height: 470px;
    transform: scale(1.1);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-right: 5px;
    padding-bottom: 10px;
  }
  .item:hover .overlay {
    width: 290px;
    height: 300px;
  }
  .item:hover .item-img {
    width: 290px;
  }
}
@media (max-width: 768px) {
  .new-arrivals-container,
  .top-selling-container {
    padding-left: 30px;
  }
  .item {
    width: 45%;
  }
  .item:hover {
    width: 290px;
    height: 470px;
    transform: scale(1.1);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-right: 0px;
    padding-bottom: 10px;
  }
  .item:hover .overlay {
    width: 290px;
    height: 300px;
  }
  .item:hover .item-img {
    width: 290px;
  }
}
@media (max-width: 425px) {
  .new-arrivals-container,
  .top-selling-container {
    padding-left: 10px;
  }
  .section-title,
  .reviews-title {
    font-size: 32px;
    color: #000000;
  }
  .item {
    width: 40%;
    height: 345px;
  }
  .item:hover {
    width: 170px;
    height: 355px;
    transform: scale(1.1);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-right: 5px;
    padding-bottom: 10px;
  }
  .item:hover .overlay {
    width: 170px;
    height: 200px;
  }
  .item:hover .item-img {
    width: 170px;
  }
  .item-img {
    width: 170px;
    height: 200px;
  }
  .item-title {
    font-size: 16px;
  }
  .item-rating {
    gap: 5px;
  }
  .fa-star,
  .fa-star-half {
    font-size: 15.47px;
  }
  .item-selling-price {
    font-size: 20px;
  }
  .item-basic-price {
    font-size: 20px;
  }
  .item-price-discount {
    width: 32px;
    height: 20px;
    display: flex;
    justify-content: center;
  }
  .price-discount {
    font-size: 10px;
  }
  .view-all-button {
    padding: 25px 0px;
  }
  .view-all-btn {
    width: 360px;
    height: 45px;
  }
  .view-all-btn-title {
    font-size: 14px;
  }
}
/*
@media (max-width: 390px) {
  .item-title {
    font-size: 14px;
  }
}*/
/* section categories */
.categories-container {
  background: #f0f0f0;
  border-radius: 40px;
}

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.categories-title {
  width: 115px;
  height: 50px;
  padding: 35px;
  margin-top: 25px;
  font-weight: 700;
  font-size: 36px;
  display: flex;
  align-items: center;
  color: #000000;
}

.categories-casual {
  width: 405px;
  height: 290px;
  border-radius: 20px;
  margin: 0px 20px 20px 0px;
  background: url(../img/categoriesCasual.png) -2500% no-repeat, #ffffff;
  text-decoration: none;
}

.categories-formal {
  width: 685px;
  height: 290px;
  border-radius: 20px;
  background: url(../img/categoriesFormal.png) no-repeat, #ffffff;
  text-decoration: none;
}

.categories-party {
  width: 685px;
  height: 290px;
  border-radius: 20px;
  margin: 0px 20px 80px 0px;
  background: url(../img/categoriesParty.png) right no-repeat, #ffffff;
  text-decoration: none;
}

.categories-gym {
  width: 405px;
  height: 290px;
  background: url(../img/categoriesGym.png) 170% no-repeat, #ffffff;
  border-radius: 20px;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .categories-formal,
  .categories-party {
    width: 405px;
    height: 290px;
    background-position: center;
  }
}
@media (max-width: 768px) {
  .categories-casual,
  .categories-formal,
  .categories-party,
  .categories-gym {
    width: 685px;
    height: 290px;
    margin: 20px;
    background-position: right;
  }
}
@media (max-width: 425px) {
  .categories-casual,
  .categories-formal,
  .categories-party,
  .categories-gym {
    width: 310px;
    height: 190px;
    margin: 15px 25px;
  }
  .categories-formal {
    background-size: 140%;
  }
  .categories-party {
    background-size: 135%;
  }
  .categories-casual {
    background-size: 85%;
  }
  .categories-gym {
    background-size: 105%;
    background-position: -40px -50px;
  }
  .categories-title {
    font-size: 24px;
    width: 55px;
    height: 35px;
    transform: translate(-20px, -25px);
  }
  .categories {
    margin-bottom: 10px;
  }
}
@media (max-width: 320px) {
  .categories-container {
    padding: 0px;
    margin-left: 65px;
  }
}
/*section reviews*/
.reviews-block,
.reviews-section-title,
.reviews-arrows {
  display: flex;
  justify-content: space-between;
}

.reviews-arrows {
  padding-top: 80px;
  width: 55px;
}

.fa-arrow-left,
.fa-arrow-right {
  font-size: 18.75px;
  color: #000000;
}

.review {
  padding: 30px;
  width: 400px;
  min-height: 240px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.review-rating {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;
}

.reviews-author {
  display: flex;
  align-items: center;
  gap: 5px;
}

.vector {
  padding-top: 5px;
}

.fa-circle-check {
  font-size: 19.5px;
  color: #01ab31;
}

.review-star {
  font-size: 22.58px;
  padding-right: 6px;
}

.review-author {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-align: start;
  margin: 0;
  padding: 15px 0px 10px 0px;
}

.review-desc {
  margin-bottom: 30px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}

@media (max-width: 1240px) {
  .review {
    width: 320px;
  }
}
@media (max-width: 768px) {
  .review {
    width: 370px;
  }
  .review-hidden {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
    /* display: none; */
  }
}
@media (max-width: 425px) {
  .reviews-block {
    justify-content: center;
  }
  .review {
    min-width: 360px;
  }
  .review-hidden-two {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
    /* display: none; */
  }
  .reviews-title {
    text-align: start;
  }
  .reviews-arrows {
    width: 65px;
  }
}
/*section subscription*/
.subscription {
  transform: translate(0px, 90px);
}

.subscription-container {
  max-width: 1240px;
  min-height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 35px 65px;
  gap: 155px;
  background: #000000;
  border-radius: 20px;
}

.subscription-text {
  margin: 0 auto;
  font-family: "Integral CF";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #FFFFFF;
}

.subscription-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  margin: 0 auto;
  width: 350px;
  height: 100px;
}

.mail-form,
.subscription-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px;
  gap: 10px;
  width: 350px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 62px;
}

.mail-img {
  padding: 3px;
}

.subscription-mail {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
  border: none;
}

.subscription-mail::-moz-placeholder {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
}

.subscription-mail::placeholder {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
}

.subscription-mail:active,
.subscription-mail:hover,
.subscription-mail:focus {
  outline: 0;
  outline-offset: 0;
}

.subscription-btn {
  justify-content: center;
}

.mail-btn-title {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

@media (max-width: 768px) {
  .subscription-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 25px;
    gap: 30px;
  }
}
@media (max-width: 425px) {
  .subscription-text {
    font-size: 32px;
  }
  .subscription-mail::-moz-placeholder {
    font-size: 14px;
  }
  .mail-btn-title,
  .subscription-mail,
  .subscription-mail::placeholder {
    font-size: 14px;
  }
  .mail-img {
    font-size: 20px;
    padding: 2px;
  }
  .subscription {
    transform: translate(0px, 50px);
  }
}
/*footer*/
.footer {
  background: rgba(0, 0, 0, 0.1);
}

/*footer info*/
.footer-info {
  padding-top: 60px;
}

.footer-info-all,
.footer-info-blocks {
  padding: 55px 0px 50px 0px;
  gap: 115px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.footer-info-company,
.footer-info-company-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}

.company-name {
  margin: 0;
  font-family: "Integral CF";
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  color: #000000;
}

.company-desc {
  margin: 0;
  padding: 25px 0px 15px 0px;
  min-width: 260px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.footer-info-block-title {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
}

.link-info-company {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.6);
}

/*section footer-payments-info*/
.footer-payments-info {
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.footer-payments-text {
  margin: 0;
  padding-top: 5px;
  font-size: 14px;
  text-align: right;
  color: rgba(0, 0, 0, 0.6);
}

.footer-payments {
  transform: translate(0px, -10px);
}

.footer-social-icon {
  width: 30px;
  height: 30px;
  text-decoration: none;
  padding: 10px;
  margin-right: 10px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #ffffff;
  transition: 1s;
}

.footer-social-icon:hover {
  background: rgba(0, 0, 0, 0.1);
}

.footer-social-icon:active {
  background: #000000;
}

.social-icon-img {
  font-size: 13.55px;
  color: #000000;
  transition: 1s;
}

.social-icon-img:active,
.social-icon-img:hover {
  color: #ffffff;
}

.fa-twitter {
  padding: 3px 0px 3px 3px;
}

.fa-facebook-f {
  padding: 3px 2px 3px 5px;
}

.fa-github {
  padding: 3px;
}

.fa-instagram {
  padding: 3px 0px 3px 3px;
}

.footer-payment {
  width: 47px;
  height: 30px;
  background: #ffffff;
  border: 0.224107px solid #d6dce5;
  box-shadow: 0px 4.48214px 8.96429px rgba(183, 183, 183, 0.08), 0px 0.448214px 4.48214px rgba(183, 183, 183, 0.08);
  border-radius: 5.37857px;
  padding: 10px;
  margin-left: 10px;
  text-decoration: none;
}

.cart-img {
  width: 34px;
  height: 34px;
  transform: translate(2px, 10px);
}

@media (max-width: 1240px) {
  .footer-info-all,
  .footer-info-blocks {
    gap: 60px;
  }
}
@media (max-width: 768px) {
  .footer-info-all,
  .footer-info-blocks {
    gap: 15px;
  }
}
@media (max-width: 425px) {
  .footer-container {
    height: 900px;
    padding-left: 10px;
  }
  .footer-info-all {
    padding: 30px 0px 75px 0px;
    flex-direction: column;
  }
  .footer-info-blocks {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    gap: 0px;
  }
  .footer-info-company {
    width: 50%;
  }
  .company-desc {
    padding: 15px 0px 20px 0px;
  }
  .company-name {
    font-size: 28.847px;
    line-height: 35px;
  }
  .footer-payments {
    padding-top: 10px;
    transform: translate(0px, 0px);
    text-align: center;
  }
  .footer-payments-info {
    display: flex;
    flex-direction: column;
  }
  .footer-payments-text {
    text-align: center;
  }
}
@media (max-width: 375px) {
  .footer {
    width: 390px;
  }
}
/*breadcrumbls single page*/
.breadcrumbls-single-page {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-breadscrumbls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  gap: 12px;
  list-style-type: none;
}

.list-menu-breadcrumbles {
  display: flex;
}

.info-menu-breadcrumbles,
.info-menu-breadcrumbles-single-page {
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.info-menu-breadcrumbles-single-page {
  color: #000000;
}

.arrow-right {
  margin: 6px 0px 0px 5px;
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid rgba(0, 0, 0, 0.6);
  border-left: 2px solid rgba(0, 0, 0, 0.6);
  transform: rotate(135deg);
}

/*section item single page*/
.item-container,
.item-img-single-page {
  display: flex;
}

.item-img-single-page {
  margin-right: 40px;
}

/*section item img single page*/
.img-single-page {
  display: flex;
  flex-direction: column;
}

.item-small-img-page {
  margin: 0px 15px 15px 0px;
  width: 150px;
  height: 165px;
  border-radius: 20px;
}
.item-small-img-page:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.item-small-img-page:active {
  transform: scale(1);
  border: 1px solid #000000;
}

.item-big-img-page {
  width: 445px;
  height: 530px;
  background: #f0eeed;
  border-radius: 20px;
}
.item-big-img-page:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

/*section item desc single page*/
.item-title-single-page {
  font-family: "Integral CF";
  font-weight: 700;
  font-size: 40px;
  display: flex;
  align-items: center;
  margin: 0px;
  color: #000000;
  text-transform: uppercase;
}

.item-rating-single-page {
  margin: 15px 0px;
}

.star-single-page,
.star-half-single-page {
  font-size: 24.71px;
  color: #ffc633;
}

.item-rating-star-single-page {
  font-size: 16px;
  color: #000000;
}

.item-price-single-page {
  display: flex;
}

.item-selling-price-single-page {
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  display: flex;
  align-items: center;
  color: #000000;
}

.item-basic-price-single-page {
  padding: 0px 10px;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-decoration-line: line-through;
  color: rgba(0, 0, 0, 0.3);
}

.item-price-discount-single-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 14px;
  gap: 12px;
  width: 72px;
  height: 34px;
  background: rgba(255, 51, 51, 0.1);
  border-radius: 62px;
}

.price-discount-single-page {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ff3333;
}

.item-desc-single-page {
  font-size: 16px;
  line-height: 22px;
  leading-trim: both;
  text-edge: cap;
  color: rgba(0, 0, 0, 0.6);
}

.item-colors-single-page {
  margin: 25px 0px;
  padding: 25px 0px;
  width: 590px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.item-label-single-page {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  leading-trim: both;
  text-edge: cap;
  color: rgba(0, 0, 0, 0.6);
}

.input-item-color {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}

.input-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 35px;
  height: 35px;
  margin-left: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border: 1px solid #ffffff;
  transition: 500ms;
}

.input-checkbox::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 8px;
  width: 0px;
  height: 0px;
  font-size: 15px;
  transition: 500ms;
  overflow: hidden;
  background: url(../img/arrowInputCheckbox.png) no-repeat;
}

.input-checkbox:checked::after {
  width: 35px;
  height: 35px;
  transition: 500ms;
}

.input-checkbox:disabled::after {
  background: #ccc;
  border-color: #ccc;
}

.item-color-brown {
  background: #4f4631;
}

.item-color-green {
  background: #314f4a;
}

.item-color-blue {
  background: #31344f;
}

.item-count {
  display: flex;
}

.item-count-change {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-weight: 600;
  color: #fff;
  background-color: #989797;
  border-radius: 3px;
  cursor: pointer;
}

.item-count-input {
  max-width: 55px;
  text-align: center;
  font-weight: 700;
  background-color: #fff;
  border: none;
  border-radius: 3px;
  margin: 0 5px;
}

.review-single-page {
  display: flex;
  justify-content: flex-start;
}

/*section item details single page*/
.link-desc-review {
  text-decoration: none;
  display: flex;
}

.link-desc-review span {
  margin: 2px;
  display: block;
  width: 5px;
  height: 5px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */