/* mixin */
@import "blocks/mixin.scss";

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
}

body {
  @include font(16px, 400);
  display: flex;
  flex-direction: column;
  /*border: 1px solid red;*/
}

.hidden {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  opacity: 0;
  visibility: hidden;
  /* display: none; */
}

.container {
  min-width: 325px;
  max-width: 1240px;
  margin: 0 auto;
  border: 1px solid blue;
}

.main {
  flex-grow: 1;
  /*border: 5px solid green;*/
}

/* section discount */
@import "blocks/discount.scss";

/* header */
@import "blocks/header.scss";

/* main */
/* section promo */
@import "blocks/promo.scss";

/* section breands */
@import "blocks/breands.scss";

/* section new arrivals */
@import "blocks/new-arrivals.scss";

/* section categories */
@import "blocks/categories.scss";

/* section reviews */
@import "blocks/reviews.scss";

/* section subscription */
@import "blocks/subscription.scss";

/* footer */
@import "blocks/footer.scss";

/* section single page */
@import "blocks/single-page.scss";

/* item cart */
@import "blocks/item-cart.scss";

/* buttons */
@import "blocks/buttons.scss";

/* item colors */
@import "blocks/item-colors.scss";

/* item size */
@import "blocks/item-size.scss";

/* breadcrumbls */
@import "blocks/breadcrumbls.scss";

/* sidebar */
@import "blocks/sidebar.scss";

/* category page */
@import "blocks/category-page.scss";

/* pagination category page */
@import "blocks/pagination.scss";
