/* section categories */
.categories-container {
    background: #F0F0F0;
    border-radius: 40px;
}

.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.categories-title {
    width: 115px;
    height: 50px;
    padding: 35px;
    margin-top: 25px;
    font-weight: 700;
    font-size: 36px;

    display: flex;
    align-items: center;

    color: #000000;
}

.categories-casual {
    width: 407px;
    height: 289px;
    border-radius: 20px;
    margin: 0px 20px 20px 0px;

    background: url(../img/categoriesCasual.png) center top no-repeat, #FFFFFF;
    text-decoration: none;
}

.categories-formal {
    width: 684px;
    height: 289px;
    border-radius: 20px;

    background: url(../img/categoriesFormal.png) center top no-repeat, #FFFFFF;
    text-decoration: none;
}

.categories-party {
    width: 684px;
    height: 289px;
    border-radius: 20px;
    margin: 0px 20px 80px 0px;

    background: url(../img/categoriesParty.png) center top no-repeat, #FFFFFF;
    text-decoration: none;
}

.categories-gym {
    width: 407px;
    height: 289px;

    background: url(../img/categoriesGym.png) center top no-repeat, #FFFFFF;
    border-radius: 20px;
    text-decoration: none;
}