/* section new-arrivals */
.new-arrivals-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  height: 100%;
}

.section-title {
  font-family: "Integral CF";
  font-weight: 700;
  font-size: 48px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.item {
  width: 25%;
  height: 410px;
  display: flex;
  flex-direction: column;
  margin: 20px 0px 40px 0px;
}

.item-img {
  width: 295px;
  height: 300px;
  background: #f0eeed;
  border-radius: 20px;
}

.item-title {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  padding-top: 15px;
  text-transform: capitalize;
}

.item-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}

.fa-star,
.fa-star-half {
  font-size: 18.49px;
  color: #ffc633;
}

.item-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.item-selling-price {
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}

.item-basic-price {
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  text-decoration-line: line-through;
  color: rgba(0, 0, 0, 0.4);
}

.item-price-discount {
  width: 60px;
  height: 30px;
  padding: 3px 15px;
  background: rgba(255, 51, 51, 0.1);
  border-radius: 60px;
}

.price-discount {
  font-weight: 500;
  font-size: 12px;
  color: #ff3333;
}

.view-all-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 80px 0;
}

.view-all-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 52px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  background-color: #ffffff;
  transition: 1s;
}

.view-all-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.view-all-btn-title {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

@media (max-width: 1024px) {
  .item {
    width: 30%;
    margin: 20px 15px;
  }
}
@media (max-width: 768px) {
  .item {
    width: 45%;
  }
}
@media (max-width: 425px) {
  .section-title {
    font-size: 32px;
    color: #000000;
  }
  .item {
    width: 40%;
    height: 285px;
  }
  .item-img {
    width: 170px;
    height: 200px;
  }
  .item-title {
    font-size: 16px;
  }
  .item-rating {
    gap: 5px;
  }
  .fa-star,
  .fa-star-half {
    font-size: 15.47px;
  }
  .item-selling-price {
    font-size: 20px;
  }
  .item-basic-price {
    font-size: 20px;
  }
  .item-price-discount {
    width: 32px;
    height: 20px;
    display: flex;
    justify-content: center;
  }
  .price-discount {
    font-size: 10px;
  }
  .view-all-button {
    padding: 25px 0px;
  }
  .view-all-btn {
    width: 360px;
    height: 45px;
  }
  .view-all-btn-title {
    font-size: 14px;
  }
}
/*
@media (max-width: 390px) {
  .item-title {
    font-size: 14px;
  }
}*//*# sourceMappingURL=new-arrivals.css.map */