/*breadcrumbls single page*/

.breadcrumbls-single-page {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-breadscrumbls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  gap: 12px;

  list-style-type: none;
}

.list-menu-breadcrumbles {
  display: flex;
}

.info-menu-breadcrumbles,
.info-menu-breadcrumbles-single-page {
  font-size: 16px;
  line-height: 22px;

  color: rgba(0, 0, 0, 0.6);

  text-decoration: none;
}

.info-menu-breadcrumbles-single-page {
  color: #000000;
}

.arrow-right {
  margin: 6px 0px 0px 5px;
  display: block;

  width: 10px;
  height: 10px;
  border-top: 2px solid rgba(0, 0, 0, 0.6);
  border-left: 2px solid rgba(0, 0, 0, 0.6);
  transform: rotate(135deg);
}

/*section item single page*/

.item-container,
.item-img-single-page {
  display: flex;
}

.item-img-single-page {
  margin-right: 40px;
}

/*section item img single page*/

.img-single-page {
  display: flex;
  flex-direction: column;
}

.item-small-img-page {
  margin: 0px 15px 15px 0px;
  width: 150px;
  height: 165px;

  border-radius: 20px;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  }

  &:active {
    transform: scale(1);
    border: 1px solid #000000;
  }
}

.item-big-img-page {
  width: 445px;
  height: 530px;

  background: #f0eeed;
  border-radius: 20px;

  &:hover {
    transform: scale(1.5);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  }
}

/*section item desc single page*/

.item-title-single-page {
  font-family: "Integral CF";
  font-weight: 700;
  font-size: 40px;

  display: flex;
  align-items: center;

  margin: 0px;

  color: #000000;

  text-transform: uppercase;
}

.item-rating-single-page {
  margin: 15px 0px;
}

.star-single-page,
.star-half-single-page {
  font-size: 24.71px;
  color: #ffc633;
}

.item-rating-star-single-page {
  font-size: 16px;
  color: #000000;
}

.item-count {
  display: flex;
}

.item-count-change {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-weight: 600;
  color: #fff;
  background-color: #989797;
  border-radius: 3px;
  cursor: pointer;
}

.item-count-input {
  max-width: 55px;
  text-align: center;
  font-weight: 700;
  background-color: #fff;
  border: none;
  border-radius: 3px;
  margin: 0 5px;
}
.review-single-page {
  display: flex;
  justify-content: flex-start;
}

/*section item details single page*/

.link-desc-review {
  text-decoration: none;

  display: flex;
}

.link-desc-review span {
  margin: 2px;
  display: block;
  width: 5px;
  height: 5px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
