/*breadcrumbls single page*/
.breadcrumbls-single-page {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-breadscrumbls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  gap: 12px;
  list-style-type: none;
}

.list-menu-breadcrumbles {
  display: flex;
}

.info-menu-breadcrumbles,
.info-menu-breadcrumbles-single-page {
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.info-menu-breadcrumbles-single-page {
  color: #000000;
}

.arrow-right {
  margin: 6px 0px 0px 5px;
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid rgba(0, 0, 0, 0.6);
  border-left: 2px solid rgba(0, 0, 0, 0.6);
  transform: rotate(135deg);
}

/*section item single page*/
.item-container,
.item-img-single-page {
  display: flex;
}

.item-img-single-page {
  margin-right: 40px;
}

/*section item img single page*/
.img-single-page {
  display: flex;
  flex-direction: column;
}

.item-small-img-page {
  margin: 0px 15px 15px 0px;
  width: 150px;
  height: 165px;
  border-radius: 20px;
  transition: 500ms;
}
.item-small-img-page:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.item-small-img-page:active {
  transform: scale(1);
  border: 1px solid #000000;
}

.item-big-img-page {
  width: 445px;
  height: 530px;
  background: #f0eeed;
  border-radius: 20px;
  transition: 500ms;
}
.item-big-img-page:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

/*section item desc single page*/
.item-title-single-page {
  font-family: "Integral CF";
  font-weight: 700;
  font-size: 40px;
  display: flex;
  align-items: center;
  margin: 0px;
  padding-bottom: 15px;
  color: #000000;
  text-transform: uppercase;
}

.item-rating-single-page {
  margin: 15px 0px;
}

.star-single-page,
.star-half-single-page {
  font-size: 24.71px;
  color: #ffc633;
}

.item-rating-star-single-page {
  font-size: 16px;
  color: #000000;
}

.item-price-single-page {
  display: flex;
}

.item-selling-price-single-page {
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  display: flex;
  align-items: center;
  color: #000000;
}

.item-basic-price-single-page {
  padding: 0px 10px;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-decoration-line: line-through;
  color: rgba(0, 0, 0, 0.3);
}

.item-price-discount-single-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 14px;
  gap: 12px;
  width: 72px;
  height: 34px;
  background: rgba(255, 51, 51, 0.1);
  border-radius: 62px;
}

.price-discount-single-page {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ff3333;
}

.item-desc-single-page {
  font-size: 16px;
  line-height: 22px;
  leading-trim: both;
  text-edge: cap;
  color: rgba(0, 0, 0, 0.6);
}

.item-colors-single-page {
  margin: 20px 0px;
  padding: 20px 0px;
  width: 590px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.item-label-single-page {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  leading-trim: both;
  text-edge: cap;
  color: rgba(0, 0, 0, 0.6);
}

.input-item-color {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
}

.input-radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 35px;
  height: 35px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border: 1px solid #ffffff;
  transition: 500ms;
}

.input-radio::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 8px;
  width: 0px;
  height: 0px;
  font-size: 15px;
  transition: 500ms;
  overflow: hidden;
  background: url(../img/arrowInputCheckbox.png) no-repeat;
}

.input-radio:checked::after {
  width: 35px;
  height: 35px;
  transition: 500ms;
}

.input-radio:disabled {
  background: #ccc;
  border-color: #ccc;
}

.input-radio:disabled::after {
  filter: grayscale(100%);
}

.item-color-brown {
  background: #4f4631;
}

.item-color-green {
  background: #314f4a;
}

.item-color-blue {
  background: #31344f;
}

.item-size-single-page {
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.input-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  margin-top: 45px;
}

.input-size,
.promo-btn {
  padding: 10px 25px;
  margin: 15px 0px 25px 0px;
  width: 105px;
  height: 45px;
  background: #f0f0f0;
  border-radius: 62px;
  border: none;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  transition: 500ms;
}
.input-size:hover,
.promo-btn:hover {
  transform: 1.1;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.input-btn:checked + .input-size {
  border: 1px solid #000000;
  background: #000000;
  color: #ffffff;
  transition: 500ms;
}

.input-btn:disabled + .input-size {
  background: #f0f0f0;
  transition: 500ms;
}

.input-btn:disabled::after + .input-size {
  filter: grayscale(100%);
}

.item-count-card {
  margin: 25px 0px;
  display: flex;
}

.item-count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  margin-right: 20px;
  gap: 12px;
  width: 170px;
  height: 52px;
  background: #f0f0f0;
  border-radius: 62px;
  transition: 500ms;
}
.item-count:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.item-count:active {
  transform: scale(1);
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.item-count-change {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-weight: 600;
  color: #000000;
  border-radius: 3px;
  cursor: pointer;
  font-size: 25px;
}

.item-count-input {
  max-width: 55px;
  text-align: center;
  font-weight: 700;
  background: #f0f0f0;
  border: none;
  border-radius: 3px;
}
.item-count-input:hover {
  outline: none;
}
.item-count-input:focus {
  outline: none;
}
.item-count-input:active {
  outline: none;
}

.promo-btn {
  padding: 0px;
  margin: 0px;
  width: 400px;
  height: 52px;
}
.promo-btn:active {
  transform: scale(1);
  border: 1px solid #000000;
  background: #000000;
  font-weight: 500;
  color: #ffffff;
}

.review-single-page {
  display: flex;
  justify-content: flex-start;
}

/*section item details single page*/
.container-item-details {
  display: flex;
  justify-content: space-between;
}

/*section product details single page*/
.title-item-details {
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  width: 415px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.title-item-details:active {
  font-weight: 500;
  color: #000000;
  border-bottom: 2px solid #000000;
}

/*section reviews single page*/
.link-desc-review {
  text-decoration: none;
  display: flex;
}

.link-desc-review span {
  margin: 2px;
  display: block;
  width: 5px;
  height: 5px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.reviews-section-title {
  display: flex;
  justify-content: space-between;
}

.reviews-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #000000;
}

.count-reviews {
  margin-left: 10px;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6);
}

.navbar-reviews {
  display: flex;
}

.filter-reviews {
  border-radius: 62px;
  padding: 10px;
  width: 50px;
  height: 50px;
  border: none;
  background: url(../img/singlePageSettings.png) center center no-repeat, #f0f0f0;
  transition: 500ms;
}
.filter-reviews:hover {
  transform: 1.1;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.filter-reviews:active {
  transform: scale(1);
  border: 1px solid #ffffff;
  background: url(../img/singlePageSettings.png) center center no-repeat, #ffffff;
}

.select-filter-reviews {
  margin: 0px 10px;
  border: none;
  padding: 15px;
  gap: 12px;
  width: 120px;
  height: 50px;
  background: #f0f0f0;
  border-radius: 62px;
  transition: 500ms;
}
.select-filter-reviews:hover {
  border: none;
  transform: 1.1;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.select-filter-reviews:active {
  transform: scale(1);
  border: 1px solid #ffffff;
  background: #ffffff;
}

.href-filter-reviews {
  text-decoration: none;
  margin: 0 auto;
  width: 110px;
  height: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  background: #f0f0f0;
  border-radius: 62px;
  transition: 500ms;
}
.href-filter-reviews:hover {
  border: none;
  transform: 1.1;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.href-filter-reviews:active {
  transform: scale(1);
  border: 1px solid #ffffff;
  background: #ffffff;
}

.reviews-block,
.reviews-section-title,
.reviews-arrows {
  display: flex;
  justify-content: space-between;
}

.reviews-arrows {
  padding-top: 80px;
  width: 55px;
}

.fa-arrow-left,
.fa-arrow-right {
  font-size: 18.75px;
  color: #000000;
}

.review {
  padding: 30px;
  width: 400px;
  min-height: 240px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.review-rating {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;
}

.reviews-author {
  display: flex;
  align-items: center;
  gap: 5px;
}

.vector {
  padding-top: 5px;
}

.fa-circle-check {
  font-size: 19.5px;
  color: #01ab31;
}

.review-star {
  font-size: 22.58px;
  padding-right: 6px;
}

.review-author {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-align: start;
  margin: 0;
  padding: 15px 0px 10px 0px;
}

.review-desc {
  margin-bottom: 30px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}/*# sourceMappingURL=single-page.css.map */