/* mixin */
@import "mixin.scss";

/* section breadcrumbls */

.breadcrumbls {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-breadscrumbls {
  padding: 0px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  gap: 12px;

  list-style-type: none;
}

.list-menu-breadcrumbles {
  display: flex;
}

.info-menu-breadcrumbles,
.info-menu-breadcrumbles-single-page {
  @include font(16px, 400);
  line-height: 22px;

  color: rgba(0, 0, 0, 0.6);

  text-decoration: none;

  &:hover {
    color: #000000;
  }

  &:active {
    color: #000000;
  }
}

.info-menu-breadcrumbles-single-page {
  color: #000000;
}

.arrow-right {
  margin: 6px 0px 0px 5px;

  display: block;

  width: 10px;
  height: 10px;

  border-top: 2px solid rgba(0, 0, 0, 0.6);
  border-left: 2px solid rgba(0, 0, 0, 0.6);

  transform: rotate(135deg);
}
