/* mixin */
@import "mixin.scss";

/* section breadcrumbls */

.breadcrumbls {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-breadscrumbls {
  padding: 0px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  gap: 12px;

  list-style-type: none;
}

.list-menu-breadcrumbles {
  display: flex;
}

.info-menu-breadcrumbles,
.info-menu-breadcrumbles-bold {
  @include font(16px, 400);

  color: rgba(0, 0, 0, 0.6);

  text-decoration: none;

  &:hover {
    color: #000000;
  }

  &:active {
    color: #000000;
  }
}

.info-menu-breadcrumbles-bold {
  color: #000000;
}

.arrow-right {
  margin: 6px 0px 0px 5px;

  @include arrow(10px, 10px, rgba(0, 0, 0, 0.6), 135);
}

@media (max-width: 576px) {
  .breadcrumbls {
    margin: 0px 15px;
  }

  .info-menu-breadcrumbles,
  .info-menu-breadcrumbles-bold {
    @include font(14px, 400);
  }

  .arrow-right {
    margin: 7px 0px 0px 5px;

    width: 6px;
    height: 6px;
  }
}
