/* mixin */
@import "mixin.scss";

/* button of sections */

.view-all-button {
  padding: 40px 0 80px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.view-all-btn {
  @include button(230px, 50px, #ffffff);
}

.view-all-btn-title {
  @include font(16px, 500);

  color: #000000;
}

@media (max-width: 576px) {
  .view-all-button {
    padding: 40px 0 50px 0;
  }
}
