/* mixin */
/* mixin */
.container-shopping-cart {
  display: flex;
}

.title-cart-page {
  margin: 0;
  padding-bottom: 25px;
  font-family: "Integral CF", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #000000;
  text-transform: uppercase;
}

.shopping-cart-list,
.order-cart-page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.item-cart-list {
  padding: 20px 25px;
}

.desc-cart-item {
  min-width: 515px;
  display: flex;
  justify-content: space-between;
}

.order-cart-page {
  min-width: 505px;
}

.shopping-cart-item {
  width: 665px;
  gap: 16px;
  display: flex;
}

.shopping-cart-border {
  padding-top: 25px;
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.item-img-cart-page {
  max-width: 125px;
  max-height: 125px;
  background: #f0eeed;
  border-radius: 8.65772px;
}

.item-desc-cart-page {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.item-title-cart-page {
  margin: 0;
  padding: 0px 0px 10px 0px;
}

.item-desc {
  margin: 0;
  padding-top: 5px;
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.span-item-desc {
  color: rgba(0, 0, 0, 0.6);
}

.item-price-cart-page {
  margin: 0;
  padding-top: 10px;
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.item-cart-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.item-count-card-page {
  display: flex;
}

.delete-cart-item {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 500ms;
  border: none;
}
.delete-cart-item:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.delete-cart-item:active {
  transform: scale(1);
  border: 1px solid #000000;
  background: #000000;
  font-weight: 500;
  color: #ffffff;
}
.delete-cart-item:active {
  border: none;
  background: #ffffff;
}

.item-count-cart {
  margin: 0px;
  padding: 15px 10px;
  width: 125px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: #f0f0f0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 500ms;
}
.item-count-cart:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.item-count-cart:active {
  transform: scale(1);
  border: 1px solid #000000;
  background: #000000;
  font-weight: 500;
  color: #ffffff;
}
.item-count-cart:active {
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
}

.item-count-change-cart {
  width: 20px;
  height: 20px;
}

.item-count-input-cart {
  max-width: 35px;
}

.order-cart-page {
  padding: 20px 25px;
  margin-left: 20px;
  width: 505px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.summary-order {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.summary-order-title {
  padding-bottom: 15px;
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.summary-order-text,
.summary-order-total {
  width: 455px;
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.summary-order-text {
  padding: 10px 0px;
  color: rgba(0, 0, 0, 0.6);
}

.span-text,
.span-discount {
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.span-text {
  color: #000000;
}

.span-discount {
  color: #ff3333;
}

.summary-order-total {
  margin: 10px 0px;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.span-total {
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

/* checkout */
.promo-code-form {
  margin: 0 auto;
  padding: 0px;
  width: 455px;
  height: 50px;
  display: flex;
  gap: 12px;
}

.promo-form {
  padding: 10px 15px;
  width: 325px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: #f0f0f0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 500ms;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
}
.promo-form:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.promo-form:active {
  transform: scale(1);
  border: 1px solid #000000;
  background: #000000;
  font-weight: 500;
  color: #ffffff;
}
.promo-form:active {
  background: #f0f0f0;
  color: #000000;
  border: 1px solid #f0f0f0;
}

.promo-code-img {
  padding-top: 3px;
}

.promo-code-text {
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
  border: none;
  background: #f0f0f0;
}
.promo-code-text:hover {
  outline: 0;
  outline-offset: 0;
  background: #f0f0f0;
}
.promo-code-text:focus {
  outline: 0;
  outline-offset: 0;
  background: #f0f0f0;
}
.promo-code-text:active {
  outline: 0;
  outline-offset: 0;
  background: #f0f0f0;
}

.promo-code-text::-moz-placeholder {
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
}

.promo-code-text::placeholder {
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
}

.checkout-btn,
.promo-code-btn {
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.checkout-btn:active,
.promo-code-btn:active {
  border: none;
  color: #000000;
  background: #ffffff;
}

.checkout-btn {
  margin-top: 25px;
  width: 455px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 500ms;
}
.checkout-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.checkout-btn:active {
  transform: scale(1);
  border: 1px solid #000000;
  background: #000000;
  font-weight: 500;
  color: #ffffff;
}

.promo-code-btn {
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 500ms;
}
.promo-code-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.promo-code-btn:active {
  transform: scale(1);
  border: 1px solid #000000;
  background: #000000;
  font-weight: 500;
  color: #ffffff;
}

.span-checkout-btn {
  margin-top: 2px;
  display: block;
  width: 10px;
  height: 10px;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  transform: rotate(130deg);
}

.span-checkout {
  width: 15px;
  height: 1px;
  transform: translate(-27px, 1px);
  border-top: 1px solid #ffffff;
}

@media (max-width: 1024px) {
  .container-cart {
    margin: 0px 15px;
  }
  .shopping-cart-item {
    width: 515px;
  }
  .desc-cart-item {
    min-width: 350px;
  }
  .summary-order-text,
  .summary-order-total,
  .promo-code-form,
  .checkout-btn {
    width: 355px;
  }
  .order-cart-page {
    min-width: 400px;
  }
  .promo-form {
    width: 225px;
  }
}
@media (max-width: 768px) {
  .container-shopping-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .shopping-cart-item {
    width: 665px;
  }
  .desc-cart-item {
    min-width: 515px;
  }
  .summary-order-text,
  .summary-order-total,
  .promo-code-form,
  .checkout-btn {
    width: 455px;
  }
  .order-cart-page {
    margin: 20px 0px 15px 0px;
    min-width: 505px;
  }
  .promo-form {
    width: 325px;
  }
}
@media (max-width: 576px) {
  .shopping-cart-item {
    width: 330px;
  }
  .desc-cart-item {
    min-width: 215px;
  }
  .summary-order-text,
  .summary-order-total,
  .promo-code-form,
  .checkout-btn,
  .order-cart-page {
    width: 320px;
  }
  .order-cart-page {
    min-width: 390px;
  }
  .item-img-cart-page {
    width: 100px;
    height: 100px;
  }
  .item-title-cart-page {
    width: 190px;
    font-weight: 700;
  }
  .item-price-cart-page {
    font-size: 20px;
  }
  .item-desc {
    font-size: 12px;
  }
  .delete-cart-item {
    width: 20px;
    height: 20px;
  }
  .item-count-cart {
    width: 105px;
    height: 30px;
  }
  .item-cart-btn {
    transform: translateX(-80px);
  }
  .summary-order-title,
  .span-total {
    font-size: 20px;
  }
  .summary-order-text,
  .span-text,
  .span-discount,
  .summary-order-total {
    font-size: 16px;
  }
  .promo-code-img {
    width: 20px;
    height: 20px;
  }
  .promo-code-text {
    font-size: 14px;
  }
  .promo-code-text::-moz-placeholder {
    font-size: 14px;
  }
  .promo-code-text::placeholder {
    font-size: 14px;
  }
  .promo-form {
    padding-top: 15px;
    width: 200px;
  }
  .promo-code-btn,
  .checkout-btn {
    font-weight: 500;
    font-size: 14px;
  }
  .promo-code-btn {
    width: 90px;
  }
  .checkout-btn {
    height: 55px;
  }
}/*# sourceMappingURL=cart-page.css.map */