/* mixin */
@import "mixin.scss";

.container-shopping-cart {
  display: flex;
}

.title-cart-page {
  margin: 0;
  @include font-title(40px, 700);
  color: #000000;

  text-transform: uppercase;
}

.shopping-cart-list,
.order-cart-page {
  padding: 20px 24px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 24px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.shopping-cart-list {
  max-width: 715px;
}

.order-cart-page {
  max-width: 505px;
}

.shopping-cart-item {
  padding-bottom: 25px;

  width: 665px;
  height: 175px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.item-img-cart-page {
  width: 124px;
  height: 124px;

  background: #f0eeed;
  border-radius: 8.65772px;
}

.item-desc-cart-page,
.item-cart-btn {
  padding: 0px;

  height: 120px;
  width: 225px;

  list-style-type: none;
}

.item-title-cart-page {
  margin: 0;
  padding: 0px 0px 10px 0px;
}

.item-desc {
  margin: 0;
  padding-top: 5px;

  @include font(14px, 400);
}

.item-price-cart-page {
  margin: 0;
  padding-top: 10px;

  @include font(24px, 700);
}

.item-cart-btn {
  padding-left: 165px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.item-count-card-page {
  display: flex;
}

.delete-cart-item {
  @include button(24px, 24px, #ffffff);
  border: none;

  &:active {
    border: none;
    background: #ffffff;
  }
}

.item-count-cart {
  margin: 0px;
  padding: 15px 10px;

  @include button(125px, 45px, #f0f0f0);
}

.item-count-change-cart {
  width: 20px;
  height: 20px;
}

.item-count-input-cart {
  max-width: 35px;
}

.order-cart-page {
  padding: 20px 25px;

  width: 505px;
  height: 460px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.summary-order {
  margin: 0px;
  padding: 0px;

  list-style-type: none;
}

.summary-order-title {
  padding-bottom: 5px;

  @include font(24px, 700);
}

.summary-order-text {
  padding: 20px 0px;

  width: 455px;

  @include font(20px, 400);

  color: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: space-between;
}

.span-total {
  @include font(20px, 700);

  color: #000000;
}
