/* mixin */
/* mixin */
.container-shopping-cart {
  display: flex;
}

.title-cart-page {
  margin: 0;
  font-family: "Integral CF", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #000000;
  text-transform: uppercase;
}

.shopping-cart-list,
.order-cart-page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.item-cart-list {
  padding: 20px 25px;
}

.desc-cart-item {
  min-width: 515px;
  display: flex;
  justify-content: space-between;
}

.order-cart-page {
  min-width: 505px;
}

.shopping-cart-item {
  width: 665px;
  gap: 16px;
  display: flex;
}

.shopping-cart-border {
  padding: 25px 0px;
  margin: 25px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.item-img-cart-page {
  max-width: 125px;
  max-height: 125px;
  background: #f0eeed;
  border-radius: 8.65772px;
}

.item-desc-cart-page {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.item-title-cart-page {
  margin: 0;
  padding: 0px 0px 10px 0px;
}

.item-desc {
  margin: 0;
  padding-top: 5px;
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.item-price-cart-page {
  margin: 0;
  padding-top: 10px;
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.item-cart-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.item-count-card-page {
  display: flex;
}

.delete-cart-item {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 500ms;
  border: none;
}
.delete-cart-item:hover {
  transform: 1.1;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.delete-cart-item:active {
  transform: scale(1);
  border: 1px solid #000000;
  background: #000000;
  font-weight: 500;
  color: #ffffff;
}
.delete-cart-item:active {
  border: none;
  background: #ffffff;
}

.item-count-cart {
  margin: 0px;
  padding: 15px 10px;
  width: 125px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: #f0f0f0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 500ms;
}
.item-count-cart:hover {
  transform: 1.1;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.item-count-cart:active {
  transform: scale(1);
  border: 1px solid #000000;
  background: #000000;
  font-weight: 500;
  color: #ffffff;
}

.item-count-change-cart {
  width: 20px;
  height: 20px;
}

.item-count-input-cart {
  max-width: 35px;
}

.order-cart-page {
  padding: 20px 25px;
  margin-left: 20px;
  width: 505px;
  height: 460px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.summary-order {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.summary-order-title {
  padding-bottom: 15px;
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.summary-order-text,
.summary-order-total {
  width: 455px;
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.summary-order-text {
  padding: 10px 0px;
  color: rgba(0, 0, 0, 0.6);
}

.span-text,
.span-discount {
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.span-text {
  color: #000000;
}

.span-discount {
  color: #ff3333;
}

.summary-order-total {
  margin: 10px 0px;
  padding: 20px 0px 25px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.span-total {
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}/*# sourceMappingURL=cart-page.css.map */