/* mixin */

@import "mixin.scss";

/* section item category page */

.item-container-category-page {
  margin-left: 20px;
}

.item-category-page {
  margin-bottom: 30px;

  max-width: 925px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container-category-page {
  display: flex;
}

.item-category-title {
  display: flex;
  justify-content: space-between;
}

.item-category-page-sort,
.form-page-sort {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-page-sort {
  margin: 0px 10px;
}

.item-category-page-title {
  margin: 0px;

  @include font(32px, 700);

  display: flex;
  align-items: center;

  color: #000000;
}

.form-page-sort-title,
.page-sort {
  @include font(16px, 400);

  color: rgba(0, 0, 0, 0.6);
}

.form-page-sort-select,
.form-page-sort-option {
  @include font(16px, 500);

  color: #000000;

  display: block;

  border: none;
  outline: none;

  cursor: pointer;

  &:hover {
    border: none;
    outline: none;
    border-color: #000000;
  }

  &:focus {
    border: none;
    outline: none;
    border-color: #000000;
  }

  &:active {
    border: none;
    outline: none;
    border-color: #000000;
  }
}

@media (max-width: 1024px) {
  .item-list-category-page {
    margin-left: 30px;
  }

  .item-cart-category-page {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .hidden-form-page-sort {
    @include hidden();
  }

  .item-category-title {
    display: flex;
    justify-content: flex-start;
  }

  .item-category-page-title {
    @include font(28px, 700);
  }

  .page-sort {
    margin: 5px 0px 0px 10px;
  }
}
