/* section categories */
.categories-container {
  background: #f0f0f0;
  border-radius: 40px;
}

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.categories-title {
  margin-top: 25px;
  padding: 35px;

  width: 115px;
  height: 50px;

  font-weight: 700;
  font-size: 36px;

  display: flex;
  align-items: center;

  color: #000000;
}

.categories-casual {
  margin: 0px 20px 20px 0px;

  width: 405px;
  height: 290px;

  border-radius: 20px;

  background: url(../img/categoriesCasual.png) -2500% no-repeat, #ffffff;
  text-decoration: none;
}

.categories-formal {
  width: 685px;
  height: 290px;

  border-radius: 20px;

  background: url(../img/categoriesFormal.png) no-repeat, #ffffff;
  text-decoration: none;
}

.categories-party {
  margin: 0px 20px 80px 0px;

  width: 685px;
  height: 290px;

  border-radius: 20px;

  background: url(../img/categoriesParty.png) right no-repeat, #ffffff;
  text-decoration: none;
}

.categories-gym {
  width: 405px;
  height: 290px;

  border-radius: 20px;

  background: url(../img/categoriesGym.png) 170% no-repeat, #ffffff;

  text-decoration: none;
}

@media (max-width: 1024px) {
  .categories-formal,
  .categories-party {
    width: 405px;
    height: 290px;

    background-position: center;
  }
}

@media (max-width: 768px) {
  .categories-casual,
  .categories-formal,
  .categories-party,
  .categories-gym {
    margin: 20px;

    width: 685px;
    height: 290px;

    background-position: right;
  }
}

@media (max-width: 425px) {
  .categories-casual,
  .categories-formal,
  .categories-party,
  .categories-gym {
    margin: 15px 25px;

    width: 310px;
    height: 190px;
  }

  .categories-formal {
    background-size: 140%;
  }

  .categories-party {
    background-size: 135%;
  }

  .categories-casual {
    background-size: 85%;
  }

  .categories-gym {
    background-size: 105%;
    background-position: -40px -50px;
  }

  .categories-title {
    width: 55px;
    height: 35px;

    font-size: 24px;

    transform: translate(-20px, -25px);
  }

  .categories {
    margin-bottom: 10px;
  }
}
@media (max-width: 320px) {
  .categories-container {
    margin-left: 65px;
    padding: 0px;
  }
}
