/* mixin */

@import "mixin.scss";

/* section item category page */

.item-container-category-page {
  margin-left: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-list-category-page {
  margin-bottom: 30px;

  min-height: 800px;
}

.container-category-page {
  display: flex;
}

.item-category-title,
.item-category-sort {
  display: flex;
  justify-content: space-between;
}

.item-category-page-sort,
.form-page-sort {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-page-sort {
  margin: 0px 10px;
}

.item-category-page-title {
  margin: 0px;

  @include font(32px, 700);

  display: flex;
  align-items: center;

  color: #000000;
}

.form-page-sort-title,
.page-sort {
  @include font(16px, 400);

  color: rgba(0, 0, 0, 0.6);
}

.form-page-sort-select,
.form-page-sort-option {
  @include font(16px, 500);

  color: #000000;

  display: block;

  border: none;
  outline: none;

  cursor: pointer;

  &:hover {
    border: none;
    outline: none;
    border-color: #000000;
  }

  &:focus {
    border: none;
    outline: none;
    border-color: #000000;
  }

  &:active {
    border: none;
    outline: none;
    border-color: #000000;
  }
}

@media (max-width: 1024px) {
  .item-cart-category-page {
    width: 45%;
  }
}

@media (max-width: 950px) {
  .form-page-sort {
    @include hidden();
  }

  .item-category-page-title {
    font-size: 28px;
  }

  .page-sort {
    margin: 5px 50px 0px 10px;
  }

  .item {
    position: static;
  }
}

@media (max-width: 576px) {
  .page-sort {
    @include font(14px, 500);
  }
}
