/* mixin */
@import "mixin.scss";

/* footer */
.footer {
  background: rgba(0, 0, 0, 0.1);
  padding-bottom: 80px;
}

/* footer info */
.footer-info {
  padding-top: 60px;
}

.footer-info-blocks,
.footer-info-all {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  gap: 115px;
}

.footer-info-all {
  margin: 50px 0px;
}

.footer-info-company,
.footer-info-company-title {
  padding: 0px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 15px;
}

.company-name {
  margin: 0;

  @include font-title(32px, 700);
  color: #000000;
}

.company-desc {
  margin: 0;
  padding: 25px 0px 15px 0px;

  min-width: 260px;
  font-size: 14px;

  color: rgba(0, 0, 0, 0.6);
}

.footer-info-block-title {
  @include font(16px, 500);

  letter-spacing: 3px;
  text-transform: uppercase;

  color: #000000;
}

.link-info-company {
  @include font(16px, 400);

  color: rgba(0, 0, 0, 0.6);

  text-decoration: none;
}

/*section footer-payments-info*/

.footer-payments-info {
  padding-top: 20px;

  border-top: 1px solid rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
}

.footer-payments-text {
  margin: 0;
  padding-top: 5px;

  @include font(14px, 400);
  text-align: right;

  color: rgba(0, 0, 0, 0.6);
}

.footer-payments {
  transform: translate(0px, -10px);
}

.footer-social-icon {
  margin-right: 10px;
  padding: 10px;

  width: 30px;
  height: 30px;

  text-decoration: none;

  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #ffffff;

  transition: 1s;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  &:active {
    background: #000000;
  }
}

.social-icon-img {
  font-size: 13.55px;

  color: #000000;

  transition: 1s;

  &:hover {
    color: #ffffff;
  }
  &:active {
    color: #ffffff;
  }
}

.fa-twitter,
.fa-instagram {
  padding: 3px 0px 3px 3px;
}

.fa-facebook-f {
  padding: 3px 2px 3px 5px;
}

.fa-github {
  padding: 3px;
}

.footer-payment {
  margin-left: 10px;
  padding: 10px;

  width: 47px;
  height: 30px;

  border-radius: 5.37857px;
  border: 0.224107px solid #d6dce5;
  box-shadow: 0px 4.48214px 8.96429px rgba(183, 183, 183, 0.08),
    0px 0.448214px 4.48214px rgba(183, 183, 183, 0.08);

  background: #ffffff;
  text-decoration: none;
}

.cart-img {
  width: 34px;
  height: 34px;

  transform: translate(2px, 10px);
}

@media (max-width: 1024px) {
  .footer-container {
    padding: 0px 15px;
  }

  .footer-info-all,
  .footer-info-blocks {
    gap: 60px;
  }
}

@media (max-width: 768px) {
  .footer-info-all,
  .footer-info-blocks {
    gap: 15px;
  }
}

@media (max-width: 756px) {
  .footer-container {
    margin-top: 30px;
    padding-left: 10px;

    height: 100%;
  }

  .footer-info {
    padding-top: 30px;
  }

  .footer-info-all {
    flex-direction: column;
  }

  .footer-info-blocks {
    padding: 0px;

    height: 100%;

    display: flex;
    flex-wrap: wrap;

    gap: 0px;
  }

  .footer-info-company {
    width: 50%;
  }

  .company-desc {
    padding: 15px 0px 20px 0px;
  }

  .company-name {
    font-size: 30px;
  }

  .footer-payments {
    margin-bottom: 75px;
    padding-top: 10px;

    transform: translate(0px, 0px);

    text-align: center;
  }

  .footer-payments-info {
    display: flex;
    flex-direction: column;
  }

  .footer-payments-text {
    text-align: center;
  }
}
