/* mixin */
@import "mixin.scss";

/* header */

.header {
  margin: 25px 0px 15px 0px;

  height: 50px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 40px;
}

.header-logo {
  padding-bottom: 10px;
}

.header-logo-href {
  @include font-title(32px, 700);
  color: #000000;

  text-decoration: none;
}

.header-nav {
  min-width: 320px;
}

.header-nav-list {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;

  list-style: none;
  list-style-type: none;

  gap: 25px;
}

.header-nav-line {
  display: flex;
}

.header-nav-menu,
.header-nav-link {
  @include font(16px, 400);
  color: #000000;

  display: flex;
  justify-content: space-between;

  text-decoration: none;
}

.header-arrow-down {
  margin: 5px;

  @include arrow(10px, 10px, #000000, 225deg);
}

.search {
  padding: 10px 15px;

  width: 575px;
  height: 45px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  background: #f0f0f0;
  border-radius: 60px;
}

.search-btn {
  border: none;
}

.fa-magnifying-glass {
  padding-top: 2px;

  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
}

.search-field {
  width: 550px;
  padding: 5px;

  color: rgba(0, 0, 0, 0.4);
  background: #f0f0f0;

  border: none;

  &:active {
    outline: 0;
    outline-offset: 0;
  }
  &:focus {
    outline: 0;
    outline-offset: 0;
  }

  &:hover {
    outline: 0;
    outline-offset: 0;
  }
}

.search-field::placeholder {
  @include font(16px, 400);
}

.login {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  gap: 15px;
}

.fa-bars {
  font-size: 0px;
}

@media (max-width: 1024px) {
  .header {
    margin: 25px 15px;
  }

  .header-bars {
    margin: 0;
    padding: 0;
    padding: 0px 15px 10px 0px;
  }

  .fa-bars {
    font-size: 24px;
  }

  .header-nav {
    @include hidden();
  }
}

@media (max-width: 768px) {
  .search {
    width: 400px;
  }
}

@media (max-width: 576px) {
  .header-container {
    margin: 0px 15px;
    gap: 0px;
  }

  .header-bars {
    padding-right: 15px;
  }

  .header-logo-href {
    font-size: 25px;
  }
  .search {
    padding: 7px 0px 0px 70px;

    width: 45px;
    height: 45px;

    background: #ffffff;
    border: none;
  }

  .search-btn {
    background: #ffffff;
  }

  .search-field {
    @include hidden();
  }

  .fa-magnifying-glass {
    color: #000000;
    background: #ffffff;
  }
}
