/* mixin */
/* mixin */
/* mixin */
/* mixin */
/* item cart */
.item-list {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.item {
  margin: 20px 15px 40px 0px;
  padding-bottom: 10px;
  width: 290px;
  height: 470px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: 0.5s;
}
.item:hover {
  transform: scale(1.1);
  border-radius: 20px;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.item:active {
  border-radius: 20px;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.item:hover .overlay {
  opacity: 0.8;
}
.item:hover .item-rating {
  opacity: 1;
}
.item:hover .item-img {
  margin: 0px;
  background: none;
  border-radius: 20px 20px 0px 0px;
}

.overlay {
  width: 290px;
  height: 300px;
  border-radius: 20px 20px 0px 0px;
  background-color: rgba(58, 56, 56, 0.83);
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 83px;
  opacity: 0;
}

.overlay-btn-index,
.overlay-href {
  width: 123px;
  height: 39px;
  border: 1px solid #ffffff;
  background-color: #5a5858;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.overlay-href {
  margin-top: 5px;
  text-decoration: none;
}

.overlay-btn-img {
  width: 23px;
  height: 22px;
}

.overlay-btn-text {
  margin-left: 8px;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}

.item-img {
  width: 295px;
  height: 300px;
  background: #f0eeed;
  border-radius: 20px;
}

.item-title {
  padding: 15px 5px 0px 0px;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-transform: capitalize;
  flex-grow: 1;
}

.item-rating {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.fa-star,
.fa-star-half {
  font-size: 18.49px;
  color: #ffc633;
}

.item-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.item-selling-price {
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}

.item-basic-price {
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  text-decoration-line: line-through;
  color: rgba(0, 0, 0, 0.4);
}

.item-price-discount {
  padding: 3px 15px;
  width: 60px;
  height: 30px;
  background: rgba(255, 51, 51, 0.1);
  border-radius: 60px;
}

.price-discount {
  font-size: 12px;
  font-weight: 500;
  color: #ff3333;
}

@media (max-width: 1024px) {
  .item {
    margin: 20px 15px;
    width: 30%;
  }
  .item:hover {
    margin-right: 5px;
    padding-bottom: 10px;
    width: 290px;
    height: 470px;
    border-radius: 20px;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  }
  .item:hover .overlay {
    width: 290px;
    height: 300px;
  }
  .item:hover .item-img {
    width: 290px;
  }
}
@media (max-width: 768px) {
  .item {
    width: 45%;
  }
  .item:hover {
    margin-right: 0px;
    padding-bottom: 10px;
    width: 290px;
    height: 470px;
    border-radius: 20px;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  }
  .item:hover .overlay {
    width: 290px;
    height: 300px;
  }
  .item:hover .item-img {
    width: 290px;
  }
}
@media (max-width: 576px) {
  .overlay {
    width: 175px;
    height: 200px;
  }
  .item {
    width: 40%;
    height: 345px;
  }
  .item:hover {
    margin-right: 5px;
    padding-bottom: 10px;
    width: 175px;
    height: 355px;
    border-radius: 20px;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  }
  .item:hover .overlay {
    width: 175px;
    height: 200px;
  }
  .item:hover .item-img {
    width: 175px;
  }
  .item-img {
    width: 175px;
    height: 200px;
  }
  .item-title {
    font-family: "Satoshi", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
  .item-rating {
    gap: 5px;
  }
  .fa-star,
  .fa-star-half {
    font-size: 15.47px;
  }
  .item-selling-price {
    font-size: 20px;
  }
  .item-basic-price {
    font-size: 20px;
  }
  .item-price-discount {
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
  }
  .price-discount {
    font-size: 10px;
  }
  .view-all-button {
    padding: 25px 0px;
  }
  .view-all-btn {
    width: 360px;
    height: 45px;
  }
  .view-all-btn-title {
    font-family: "Satoshi", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
}
/* section new-arrivals */
.new-arrivals-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.section-title,
.reviews-title {
  font-family: "Integral CF", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .new-arrivals-container,
  .top-selling-container,
  .you-like-container {
    padding-left: 30px;
  }
}
@media (max-width: 576px) and (min-width: 390px) {
  .new-arrivals-container,
  .top-selling-container,
  .you-like-container {
    padding-left: 10px;
  }
  .section-title,
  .reviews-title {
    font-family: "Integral CF", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #000000;
  }
}/*# sourceMappingURL=new-arrivals.css.map */