/* section new-arrivals */

.new-arrivals-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.section-title,
.reviews-title {
  font-family: "Integral CF";
  font-weight: 700;
  font-size: 48px;

  color: #000000;

  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .new-arrivals-container,
  .top-selling-container {
    padding-left: 30px;
  }
}

@media (max-width: 425px) {
  .new-arrivals-container,
  .top-selling-container {
    padding-left: 10px;
  }

  .section-title,
  .reviews-title {
    font-size: 32px;
    color: #000000;
  }
}
