/* mixin */
@import "mixin.scss";

/* section promo */

.promo {
  height: 665px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;

  background: #f2f0f1;
}

.promo-container {
  width: 100%;

  background: url(../img/promo.png) center top no-repeat;
}

.promo-text {
  margin: 0;
  padding: 0;

  width: 570px;
}

.promo-title {
  @include font-title(64px, 700);

  color: #000000;
}

.promo-desc {
  padding-bottom: 20px;

  @include font(16px, 400);

  color: rgba(0, 0, 0, 0.6);
}

.promo-aside-list {
  padding: 0px;

  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 32px;
}

.promo-aside-first,
.promo-aside-second,
.promo-aside-third {
  height: 75px;

  @include font(40px, 700);

  color: #000000;

  display: flex;
  flex-direction: column;
}

.promo-aside-second {
  padding: 0px 30px 0px 30px;

  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.promo-aside-desc {
  width: 170px;

  @include font(16px, 400);

  color: rgba(0, 0, 0, 0.6);
}

.promo-btn {
  @include button(210px, 50px, #000000);
  padding: 15px 55px;

  flex-direction: row;

  gap: 10px;

  &:active {
    background: #ffffff;

    color: #000000;
    border: none;
  }
}

.promo-btn-title {
  @include font(16px, 500);

  color: #ffffff;

  transition: 500ms;

  &:active {
    color: #000000;
  }
}

@media (max-width: 768px) {
  .promo {
    height: 1340px;

    background: #ffffff;
  }

  .promo-container {
    background: none;
  }

  .promo-img {
    height: 100%;
    width: 100%;

    background: url(../img/promo.png) 100% top no-repeat;
  }
  .promo-text {
    margin-left: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .promo-btn {
    margin-bottom: 20px;
    padding: 15px 55px;

    @include button(360px, 55px, #000000);

    gap: 12px;
  }
}

@media (max-width: 576px) {
  .promo {
    height: 100%;
  }

  .promo-img {
    height: 450px;

    background-size: 230%;
    background-position: 93%;
  }

  .promo-text {
    margin: 0px 0px 145px 30px;

    width: 360px;
    height: 275px;
  }

  .promo-title {
    padding: 0px;
    margin: 0px;

    @include font-title(38px, 900);
  }

  .promo-desc {
    padding: 10px 0px;

    @include font(14px, 400);
  }

  .promo-btn {
    padding: 15px 55px;

    @include button(360px, 55px, #000000);

    gap: 12px;
  }

  .promo-aside-list {
    width: 390px;

    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;

    gap: 0px;
  }

  .promo-aside-first,
  .promo-aside-second,
  .promo-aside-third {
    margin: 0px;
    padding: 0px;

    height: 50px;

    @include font(24px, 400);
  }

  .promo-aside-second {
    padding-left: 30px;

    border-right: none;
  }

  .promo-aside-third {
    padding-top: 10px;
  }

  .promo-aside-desc {
    width: 120px;

    @include font(12px, 400);
  }
}
