/* mixin */
/* mixin */
/* section promo */
.promo {
  height: 665px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  background: #f2f0f1;
}

.promo-container {
  width: 100%;
  background: url(../img/promo.png) center top no-repeat;
}

.promo-text {
  margin: 0;
  padding: 0;
  width: 570px;
}

.promo-title {
  font-family: "Integral CF", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  color: #000000;
}

.promo-desc {
  padding-bottom: 20px;
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.promo-aside-list {
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.promo-aside-first,
.promo-aside-second,
.promo-aside-third {
  height: 75px;
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #000000;
  display: flex;
  flex-direction: column;
}

.promo-aside-second {
  padding: 0px 30px 0px 30px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.promo-aside-desc {
  width: 170px;
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.promo-btn {
  width: 210px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 500ms;
  padding: 15px 55px;
  flex-direction: row;
  gap: 10px;
}
.promo-btn:hover {
  transform: 1.1;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.promo-btn:active {
  transform: scale(1);
  border: 1px solid #000000;
  background: #000000;
  font-weight: 500;
  color: #ffffff;
}
.promo-btn:active {
  transform: scale(1);
  border: 1px solid #ffffff;
  background: #ffffff;
  font-weight: 500;
  color: #000000;
}

.promo-btn-title {
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  transition: 500ms;
}
.promo-btn-title:hover {
  color: #000000;
}
.promo-btn-title:active {
  color: #000000;
}

@media (max-width: 768px) {
  .promo {
    height: 1340px;
    background: #ffffff;
  }
  .promo-container {
    background: none;
  }
  .promo-img {
    height: 100%;
    width: 100%;
    background: url(../img/promo.png) 100% top no-repeat;
  }
  .promo-text {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .promo-btn {
    margin-bottom: 20px;
    padding: 15px 55px;
    width: 360px;
    height: 55px;
    border-radius: 62px;
    gap: 12px;
  }
}
@media (max-width: 425px) {
  .promo {
    margin-bottom: 0px;
    height: 800px;
  }
  .promo-img {
    height: 450px;
    background-size: 230%;
    background-position: 93%;
  }
  .promo-text {
    margin: 0px 0px 110px 50px;
    width: 360px;
    height: 275px;
  }
  .promo-title {
    padding: 0px;
    margin: 0px;
    font-family: "Integral CF", Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
  }
  .promo-desc {
    padding: 10px 0px;
    font-family: "Satoshi", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
  .promo-btn {
    padding: 15px 55px;
    width: 360px;
    height: 55px;
    border-radius: 62px;
    gap: 12px;
  }
  .promo-aside-list {
    width: 390px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 0px;
  }
  .promo-aside-first,
  .promo-aside-second,
  .promo-aside-third {
    margin: 0px;
    padding: 0px;
    height: 50px;
    font-family: "Satoshi", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
  }
  .promo-aside-second {
    padding-left: 30px;
    border-right: none;
  }
  .promo-aside-third {
    padding-top: 10px;
  }
  .promo-aside-desc {
    width: 120px;
    font-family: "Satoshi", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  }
}
@media (max-width: 375px) {
  .promo-img {
    margin-top: 90px;
  }
  .promo-text {
    margin: 0px;
  }
}
@media (max-width: 320px) {
  .promo-img {
    background-size: 235%;
    background-position: 92%;
  }
  .promo {
    height: 785px;
  }
}/*# sourceMappingURL=promo.css.map */