/* mixin */
@import "mixin.scss";

/* section reviews */

.reviews-block,
.reviews-section-title,
.reviews-arrows {
  display: flex;
  justify-content: space-between;
}

.reviews-arrows {
  padding-top: 80px;

  width: 55px;
}

.fa-arrow-left,
.fa-arrow-right {
  font-size: 18.75px;
  color: #000000;
}

.review {
  padding: 30px;

  width: 400px;
  min-height: 240px;

  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.review-rating {
  padding: 0px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  gap: 5px;
}

.reviews-author {
  display: flex;
  align-items: center;

  gap: 5px;
}

.vector {
  padding-top: 5px;
}

.fa-circle-check {
  font-size: 19.5px;

  color: #01ab31;
}

.review-star {
  padding-right: 6px;

  font-size: 22.58px;
}

.review-author {
  margin: 0;
  padding: 15px 0px 10px 0px;

  @include font(20px, 700);

  color: #000000;

  text-align: start;
}

.review-desc {
  margin-bottom: 30px;

  @include font(16px, 400);

  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 1024px) {
  .review {
    width: 320px;
  }
}

@media (max-width: 768px) {
  .review {
    width: 370px;
  }

  .review-hidden {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
    /* display: none; */
  }
}

@media (max-width: 576px) {
  .reviews-block {
    justify-content: center;
  }

  .review {
    min-width: 360px;
  }

  .review-hidden-two {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
    /* display: none; */
  }

  .reviews-title {
    text-align: start;
  }

  .reviews-arrows {
    width: 65px;
  }

  .review-author {
    margin: 0;
    padding: 10px 0px 10px 0px;

    @include font(16px, 700);
  }

  .vector {
    padding-top: 0px;
  }

  .fa-circle-check {
    font-size: 15.44px;
  }

  .review-star {
    padding-right: 6px;

    font-size: 19.19px;
  }

  .review-desc {
    margin: 0px;

    @include font(14px, 400);
  }
}
