/* mixin */
@import "mixin.scss";

.container-category-page {
  width: 295px;
  height: 100%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.sidebar-category-page {
  padding: 20px 25px;
}

/* section sidebar */

.list-title-filter,
.list-title,
.nav-line {
  display: flex;
  justify-content: space-between;
}

.list-title-filter,
.list-title {
  padding-bottom: 25px;

  width: 245px;

  @include font(20px, 700);

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

details summary::-webkit-details-marker {
  display: none;
}

details > summary {
  list-style: none;
}

.list-title::after {
  content: "";

  @include arrow-down(5px, 5px);
}

.list[open] .list-title::after {
  content: "";

  @include arrow-up(5px, 5px);
}

.list-filter-img {
  width: 25px;
  height: 25px;
}

.list-nav {
  list-style-type: none;
}

.nav-line {
  display: flex;
}

.nav-link-category-page {
  @include font(16px, 700);

  color: rgba(0, 0, 0, 0.6);

  text-decoration: none;
}

.nav-line-arrow-right {
  @include arrow-right(5px, 5px);
}
