/* mixin */
/* mixin */
.sidebar-container {
  width: 295px;
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

/* section sidebar */
/* filters */
.sidebar-list-title-filter,
.sidebar-list-title {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.sidebar-list-title-filter {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-list-title {
  padding: 25px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-list-title-filter,
.sidebar-list-title {
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

details summary::-webkit-details-marker {
  display: none;
}

details > summary {
  list-style: none;
}

.sidebar-list-title::after {
  content: "";
  position: relative;
  top: 10px;
  right: 5px;
  display: block;
  width: 8px;
  height: 8px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  transform: rotate(225deg);
}

.sidebar-list[open] .sidebar-list-title::after {
  content: "";
  position: relative;
  top: 10px;
  right: 5px;
  display: block;
  width: 8px;
  height: 8px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  transform: rotate(45deg);
}

.sidebar-filter-img {
  margin-left: 140px;
  width: 25px;
  height: 25px;
}

.sidebar-list-nav {
  padding: 0px;
  list-style-type: none;
}

.sidebar-link {
  padding: 10px 10px 10px 0px;
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.sidebar-arrow-right {
  margin-top: 8px;
  display: block;
  width: 8px;
  height: 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
  border-left: 1px solid rgba(0, 0, 0, 0.6);
  transform: rotate(135deg);
}

/* price */
.range-filter {
  width: 250px;
  margin-bottom: 50px;
}

.range-controls {
  position: relative;
  height: 6px;
  background: #f0f0f0;
  border-radius: 20px;
}

.range-controls .scale {
  height: 6px;
  background: #f0f0f0;
}

.range-controls .bar {
  margin-left: 15%;
  width: 60%;
  height: 6px;
  background: #000000;
}

.range-controls .toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 40px;
  top: -6px;
  border-radius: 20px;
  background: #000000;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 15%;
}

.range-controls .toggle-max {
  left: 75%;
}

.range-controls .price-toggle-title {
  position: absolute;
  top: 25px;
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}

/* colors */
.sidebar-btn-list {
  padding: 0px 0px 25px 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.colors-btn-list {
  gap: 7px;
  list-style-type: none;
}

/* size */
.item-size-btn-sidebar {
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: #f0f0f0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 500ms;
  margin: 0px;
  padding: 0px;
}
.item-size-btn-sidebar:hover {
  transform: 1.1;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.item-size-btn-sidebar:active {
  transform: scale(1);
  border: 1px solid #000000;
  background: #000000;
  font-weight: 500;
  color: #ffffff;
}

@media (min-width: 1024px) {
  .filter-btn,
  .arrow-cross-filter {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
  }
}
@media (max-width: 768px) {
  .sidebar-container {
    transform: scaleY(0);
  }
  .filter-btn {
    transform: translate(255px, 95px);
    padding: 10px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 60px;
    background: url(../img/filterSinglePage.png) center center no-repeat, #f0f0f0;
    transition: 500ms;
    background-size: 20px 20px;
  }
  .filter-btn:hover {
    transform: 1.1;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  }
  .filter-btn:active {
    transform: scale(1);
    border: 1px solid #ffffff;
    background: url(../img/filterSinglePage.png) center center no-repeat, #ffffff;
  }
  .sidebar-category-page {
    position: absolute;
    transform-origin: top;
    transition: 0.5s;
    transform: translate(465px, -95px);
  }
  .sidebar-category-page:hover .sidebar-container {
    transform: scaleY(1);
  }
  .sidebar-category-page:hover .filter-btn {
    transform: scaleY(0);
  }
  .sidebar-filter-img {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
  }
  .arrow-cross-filter {
    color: rgba(0, 0, 0, 0.4);
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .filter-btn {
    padding: 10px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 60px;
    background: url(../img/filterSinglePage.png) center center no-repeat, #f0f0f0;
    transition: 500ms;
    background-size: 15px 15px;
  }
  .filter-btn:hover {
    transform: 1.1;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  }
  .filter-btn:active {
    transform: scale(1);
    border: 1px solid #ffffff;
    background: url(../img/filterSinglePage.png) center center no-repeat, #ffffff;
  }
}/*# sourceMappingURL=sidebar.css.map */