/* mixin */
@import "mixin.scss";

.sidebar-container {
  width: 295px;
  padding: 25px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

/* section sidebar */

/* filters */

.sidebar-list-title-filter,
.sidebar-list-title {
  width: 250px;

  display: flex;
  justify-content: space-between;
}
.sidebar-list-title-filter {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-list-title {
  padding: 25px 0px;

  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-list-title-filter,
.sidebar-list-title {
  @include font(20px, 700);
}

details summary::-webkit-details-marker {
  display: none;
}

details > summary {
  list-style: none;
}

.sidebar-list-title::after {
  content: "";
  position: relative;
  top: 10px;
  right: 5px;
  @include arrow-down(8px, 8px);
}

.sidebar-list[open] .sidebar-list-title::after {
  content: "";
  position: relative;
  top: 10px;
  right: 5px;
  @include arrow-up(8px, 8px);
}

.sidebar-filter-img {
  width: 25px;
  height: 25px;
}

.sidebar-list-nav {
  padding: 0px;
  list-style-type: none;
}

.sidebar-link {
  padding: 10px 10px 10px 0px;

  @include font(16px, 400);

  color: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: space-between;

  text-decoration: none;
}

.sidebar-arrow-right {
  margin-top: 8px;
  @include arrow-right(8px, 8px);
}

/* price */
.range-filter {
  width: 250px;
  margin-bottom: 50px;
}

.range-controls {
  position: relative;
  height: 6px;

  background: #f0f0f0;
  border-radius: 20px;
}

.range-controls .scale {
  height: 6px;
  background: #f0f0f0;
}

.range-controls .bar {
  margin-left: 15%;
  width: 60%;
  height: 6px;
  background: #000000;
}

.range-controls .toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 40px;
  top: -6px;

  border-radius: 20px;
  background: #000000;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 15%;
}

.range-controls .toggle-max {
  left: 75%;
}

.range-controls .price-toggle-title {
  position: absolute;
  top: 25px;

  @include font(14px, 500);

  color: #000000;
}

/* colors */

.sidebar-btn-list {
  padding: 0px 0px 25px 0px;
  margin: 0px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.colors-btn-list {
  gap: 7px;

  list-style-type: none;
}

/* size */

.item-size-btn-sidebar {
  @include font(14px, 400);
  @include button(100px, 40px, #f0f0f0);
  margin: 0px;
  padding: 0px;
}

@media (min-width: 1024px) {
  .filter-btn {
    @include hidden();
  }
}

@media (max-width: 768px) {
  .sidebar-container {
    transform: scaleY(0);
  }

  .filter-btn {
    transform: translate(255px, 95px);

    @include button-filter(40px, 40px);

    background-size: 20px 20px;
  }

  .sidebar-category-page {
    position: absolute;

    transform-origin: top;

    transition: 0.5s;

    transform: translate(465px, -95px);

    border: 2px solid red;

    &:hover .sidebar-container {
      transform: scaleY(1);
    }

    &:hover .filter-btn {
      transform: scaleY(0);
    }
  }

  .sidebar-filter-img {
    @include hidden();
  }

  .arrow-cross-filter {
    @include arrow-cross(15px, 15px, rgba(0, 0, 0, 0.4), 90deg);
    transform: scaleY(1.5) scaleX(1.5);
  }
}

@media (max-width: 576px) {
  .filter-btn {
    @include button-filter(30px, 30px);
    background-size: 15px 15px;
  }
}
