/* mixin */
@import "mixin.scss";
@import "item-size.scss";

/* section single page */

/* section item single page */

.item-container,
.item-img-single-page,
.item-price-single-page,
.input-item-single-page,
.navbar-reviews {
  display: flex;
}

.item-img-single-page {
  margin-right: 40px;
}

/* section item img single page */

.img-single-page {
  display: flex;
  flex-direction: column;
}

.item-small-img-page {
  margin: 0px 15px 15px 0px;

  @include img-single-page(150px, 165px, #f0eeed);

  &:active {
    transform: scale(1);
    border: 1px solid #000000;
  }
}

.item-big-img-page {
  @include img-single-page(445px, 530px, #f0eeed);
}

/*section item desc single page*/

.item-title-single-page {
  margin: 0px;
  padding-bottom: 15px;

  @include font-title(40px, 700);

  display: flex;
  align-items: center;

  color: #000000;

  text-transform: uppercase;
}

.item-rating-single-page {
  margin: 15px 0px;
}

.star-single-page,
.star-half-single-page {
  font-size: 24.71px;

  color: #ffc633;
}

.item-rating-star-single-page {
  @include font(16px, 700);

  color: #000000;
}

.item-selling-price-single-page,
.item-basic-price-single-page {
  @include font(32px, 700);

  display: flex;
  align-items: center;
}

.item-selling-price-single-page {
  color: #000000;
}

.item-basic-price-single-page {
  margin: 0px 10px;

  text-decoration-line: line-through;

  color: rgba(0, 0, 0, 0.3);
}

.item-price-discount-single-page {
  margin-top: 5px;
  padding: 6px 14px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 70px;
  height: 35px;

  border-radius: 60px;
  background: rgba(255, 51, 51, 0.1);

  gap: 12px;
}

.price-discount-single-page {
  @include font(16px, 500);

  color: #ff3333;
}

.desc-single-page {
  @include font(16px, 400);

  color: rgba(0, 0, 0, 0.6);
}

/* select colors */

.item-colors-single-page {
  margin: 15px 0px;
  padding: 10px 0px;

  width: 590px;

  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.item-label-single-page {
  margin: 0;
  @include font(16px, 400);

  color: rgba(0, 0, 0, 0.6);
}

/* choose size */
.item-size-single-page {
  padding-bottom: 25px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.item-count-card {
  margin: 25px 0px;

  display: flex;
}

.item-count {
  margin-right: 20px;
  padding: 15px 20px;

  @include button(170px, 50px, #f0f0f0);

  flex-direction: row;
  justify-content: space-between;

  gap: 12px;

  &:active {
    transform: scale(1);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid #f0f0f0;
    background: #f0f0f0;

    font-weight: 500;

    color: #f0f0f0;
  }
}

.item-count-change {
  width: 25px;
  height: 25px;

  font-size: 25px;
  font-weight: 600;

  color: #000000;

  border-radius: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.item-count-input {
  max-width: 55px;

  text-align: center;

  font-weight: 700;

  background: #f0f0f0;

  border: none;
  border-radius: 3px;

  &:hover {
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }
}

.review-btn,
.review-btn-cart {
  padding: 10px 25px;
  margin: 0px 5px 0px 5px;

  @include font(16px, 400);

  color: rgba(0, 0, 0, 0.6);

  border: none;
}

.review-btn {
  padding: 15px;
  @include button(165px, 50px, #f0f0f0);
}

.review-btn-cart {
  @include button(400px, 50px, #f0f0f0);
}

.review-adress {
  @include font(16px, 500);

  color: rgba(0, 0, 0, 0.6);
}

/*section item details single page*/

.container-item-details {
  display: flex;
  justify-content: space-between;
}

/*section product details single page*/

.title-item-details {
  width: 415px;
  @include font(20px, 400);

  color: rgba(0, 0, 0, 0.6);

  text-align: center;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &:active {
    font-weight: 500;
    color: #000000;

    border-bottom: 2px solid #000000;
  }
}

/*section reviews single page*/

.reviews-title-all {
  margin-top: 5px;

  @include font(24px, 700);

  color: #000000;
}

.count-reviews {
  margin: 10px;

  @include font(16px, 400);

  color: rgba(0, 0, 0, 0.6);
}

.btn-reviews-filter {
  @include button-filter(50px, 50px);
}

.select-option {
  position: relative;
  display: inline-block;
}

.select-option::after {
  position: absolute;

  left: 100px;
  top: 18px;

  content: "";
  @include arrow(7px, 7px, #000000, 225deg);
}

.select-filter-reviews {
  margin: 0px 10px;
  padding: 0px 20px;

  @include button(120px, 50px, #ffffff);

  @include font(16px, 400);

  color: rgba(0, 0, 0, 0.6);

  border: none;
  appearance: none;
}

/* reviews blocks */

.reviews-block-single-page {
  height: 100%;

  flex-wrap: wrap;
  align-content: flex-start;
}

.review-block-rating {
  display: flex;
  justify-content: space-between;
}

.review-single-page {
  margin-top: 20px;

  width: 600px;
}

.link-desc-review {
  display: flex;

  text-decoration: none;
}

.link-desc-review span {
  margin: 2px;

  width: 5px;
  height: 5px;

  display: block;

  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
/*section you like*/

@media (max-width: 1024px) {
  /* section item img single page */

  .item-small-img-page {
    @include img-single-page(165px, 180px, #f0eeed);
  }

  .item-big-img-page {
    @include img-single-page(435px, 570px, #f0eeed);
  }

  .item-img-single-page {
    margin-right: 15px;
  }

  /*section item desc single page*/

  .item-desc-single-page {
    width: 400px;
  }

  .item-title-single-page {
    @include font-title(32px, 700);
  }

  .review-btn,
  .review-btn-cart {
    padding: 0px;
  }

  .item-count {
    padding: 15px 10px;
    @include button(110px, 45px, #f0f0f0);
  }

  .item-count-change {
    width: 20px;
    height: 20px;
  }

  .item-count-input {
    max-width: 35px;
  }

  .review-btn-cart {
    @include button(250px, 45px, #f0f0f0);
  }

  /* section item details single page */

  .title-item-details {
    width: 300px;
  }

  .review-single-page {
    width: 500px;
  }
}

@media (max-width: 768px) {
  /* section item img single page */

  .item-img-single-page {
    display: flex;
    flex-direction: column;

    margin-right: 5px;
  }
  .img-single-page {
    margin-top: 10px;
    flex-direction: row;
  }

  .item-small-img-page {
    @include img-single-page(110px, 105px, #f0eeed);
  }

  .item-big-img-page {
    order: -1;

    @include img-single-page(360px, 460px, #f0eeed);
  }

  /* section item details single page */

  .title-item-details {
    width: 250px;
  }

  .review-single-page {
    width: 375px;
  }
}

@media (max-width: 576px) {
  .item-container {
    margin: 0px 15px;

    flex-direction: column;
  }

  /* section item img single page */

  .item-big-img-page {
    margin: 0px;
    padding: 0px;

    @include img-single-page(355px, 390px, #f0eeed);
  }

  .item-small-img-page {
    @include img-single-page(110px, 105px, #f0eeed);
  }

  .review-btn {
    @include button(115px, 40px, #f0f0f0);
    @include font(14px, 400);
  }

  /* section item details single page */

  .title-item-details {
    width: 120px;
  }

  .review-single-page {
    width: 360px;
  }

  /*section item desc single page*/

  .item-title-single-page {
    margin: 0px;
    padding-bottom: 10px;

    @include font-title(24px, 700);
  }

  .item-rating-single-page {
    margin: 0px;
  }

  .star-single-page,
  .star-half-single-page {
    font-size: 18.67px;
  }

  .item-rating-star-single-page {
    @include font(14px, 700);
  }

  .item-selling-price-single-page,
  .item-basic-price-single-page {
    @include font(24px, 700);
  }

  .item-price-discount-single-page {
    margin-top: 0px;
    padding: 6px 12px;

    width: 60px;
    height: 30px;
  }

  .price-discount-single-page {
    @include font(14px, 500);
  }

  .desc-single-page {
    width: 360px;
    @include font(14px, 400);
  }

  /* select colors */

  .item-colors-single-page {
    width: 360px;
  }

  .item-label-single-page {
    @include font(14px, 400);
  }

  /* choose size */

  .review-btn-cart {
    @include button(220px, 45px, #f0f0f0);
    font-size: 14px;
  }

  /*section product details single page*/

  .container-item-details {
    margin: 0px 15px;
  }

  .title-item-details {
    width: 130px;

    @include font(15px, 500);
  }

  /*section reviews single page*/

  .reviews-container-single-page {
    margin: 0px 15px;
  }

  .reviews-title-all {
    font-size: 20px;
  }

  .count-reviews {
    font-size: 14px;
  }

  .select-option,
  .link-desc-review {
    @include hidden();
  }

  .btn-reviews-filter {
    @include button-filter(40px, 40px);
  }

  /* reviews blocks */

  .review-adress {
    font-size: 14px;
  }

  /* section you like */
  .you-like-title {
    padding-right: 15px;
  }
}
