/* mixin */
/* mixin */
/* mixin */
.btn-name-item-size {
  padding: 10px 25px;
  margin: 0px 5px 0px 5px;
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  border: none;
}

.btn-item-size {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
}

.btn-item-size:checked + .btn-name-item-size {
  border: 1px solid #000000;
  background: #000000;
  color: #ffffff;
  transition: 500ms;
}

.btn-item-size:disabled + .btn-name-item-size {
  background: #f0f0f0;
  transition: 500ms;
}

.btn-item-size:disabled::after + .btn-name-item-size {
  filter: grayscale(100%);
}

/* section single page */
/* section item single page */
.item-container,
.item-img-single-page,
.item-price-single-page,
.input-item-single-page,
.navbar-reviews {
  display: flex;
}

.item-img-single-page {
  margin-right: 40px;
}

/* section item img single page */
.img-single-page {
  display: flex;
  flex-direction: column;
}

.item-small-img-page {
  margin: 0px 15px 15px 0px;
  width: 150px;
  height: 165px;
  background: #f0eeed;
  border-radius: 20px;
  transition: 500ms;
}
.item-small-img-page:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.item-small-img-page:active {
  transform: scale(1);
  border: 1px solid #000000;
}

.item-big-img-page {
  width: 445px;
  height: 530px;
  background: #f0eeed;
  border-radius: 20px;
  transition: 500ms;
}
.item-big-img-page:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

/*section item desc single page*/
.item-title-single-page {
  margin: 0px;
  padding-bottom: 15px;
  font-family: "Integral CF", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  display: flex;
  align-items: center;
  color: #000000;
  text-transform: uppercase;
}

.item-rating-single-page {
  margin: 15px 0px;
}

.star-single-page,
.star-half-single-page {
  font-size: 24.71px;
  color: #ffc633;
}

.item-rating-star-single-page {
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
}

.item-selling-price-single-page,
.item-basic-price-single-page {
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  display: flex;
  align-items: center;
}

.item-selling-price-single-page {
  color: #000000;
}

.item-basic-price-single-page {
  margin: 0px 10px;
  text-decoration-line: line-through;
  color: rgba(0, 0, 0, 0.3);
}

.item-price-discount-single-page {
  margin-top: 5px;
  padding: 6px 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 35px;
  border-radius: 60px;
  background: rgba(255, 51, 51, 0.1);
  gap: 12px;
}

.price-discount-single-page {
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ff3333;
}

.desc-single-page {
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

/* select colors */
.item-colors-single-page {
  margin: 15px 0px;
  padding: 10px 0px;
  width: 590px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.item-label-single-page {
  margin: 0;
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

/* choose size */
.item-size-single-page {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.item-size-btn-single-page {
  width: 110px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: #f0f0f0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 500ms;
}
.item-size-btn-single-page:hover {
  transform: 1.1;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.item-size-btn-single-page:active {
  transform: scale(1);
  border: 1px solid #000000;
  background: #000000;
  font-weight: 500;
  color: #ffffff;
}

.item-count-card {
  margin: 25px 0px;
  display: flex;
}

.item-count {
  margin-right: 20px;
  padding: 15px 20px;
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: #f0f0f0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 500ms;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
}
.item-count:hover {
  transform: 1.1;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.item-count:active {
  transform: scale(1);
  border: 1px solid #000000;
  background: #000000;
  font-weight: 500;
  color: #ffffff;
}
.item-count:active {
  transform: scale(1);
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #f0f0f0;
  background: #f0f0f0;
  font-weight: 500;
  color: #f0f0f0;
}

.item-count-change {
  width: 25px;
  height: 25px;
  font-size: 25px;
  font-weight: 600;
  color: #000000;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-count-input {
  max-width: 55px;
  text-align: center;
  font-weight: 700;
  background: #f0f0f0;
  border: none;
  border-radius: 3px;
}
.item-count-input:hover {
  outline: none;
}
.item-count-input:focus {
  outline: none;
}
.item-count-input:active {
  outline: none;
}

.review-btn,
.review-btn-cart {
  padding: 10px 25px;
  margin: 0px 5px 0px 5px;
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  border: none;
}

.review-btn {
  padding: 15px;
  width: 165px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: #f0f0f0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 500ms;
}
.review-btn:hover {
  transform: 1.1;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.review-btn:active {
  transform: scale(1);
  border: 1px solid #000000;
  background: #000000;
  font-weight: 500;
  color: #ffffff;
}

.review-btn-cart {
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: #f0f0f0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 500ms;
}
.review-btn-cart:hover {
  transform: 1.1;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.review-btn-cart:active {
  transform: scale(1);
  border: 1px solid #000000;
  background: #000000;
  font-weight: 500;
  color: #ffffff;
}

.review-adress {
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

/*section item details single page*/
.container-item-details {
  display: flex;
  justify-content: space-between;
}

/*section product details single page*/
.title-item-details {
  width: 415px;
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.title-item-details:active {
  font-weight: 500;
  color: #000000;
  border-bottom: 2px solid #000000;
}

/*section reviews single page*/
.reviews-title-all {
  margin: 0;
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

.count-reviews {
  margin: 10px;
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.btn-reviews-filter {
  padding: 10px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 60px;
  background: url(../img/filterSinglePage.png) center center no-repeat, #f0f0f0;
  transition: 500ms;
}
.btn-reviews-filter:hover {
  transform: 1.1;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.btn-reviews-filter:active {
  transform: scale(1);
  border: 1px solid #ffffff;
  background: url(../img/filterSinglePage.png) center center no-repeat, #ffffff;
}

.select-option {
  position: relative;
  display: inline-block;
}

.select-option::after {
  position: absolute;
  left: 100px;
  top: 18px;
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  transform: rotate(225deg);
}

.select-filter-reviews {
  margin: 0px 10px;
  padding: 0px 20px;
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 500ms;
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.select-filter-reviews:hover {
  transform: 1.1;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.select-filter-reviews:active {
  transform: scale(1);
  border: 1px solid #000000;
  background: #000000;
  font-weight: 500;
  color: #ffffff;
}

/* reviews blocks */
.reviews-block-single-page {
  height: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}

.review-block-rating {
  display: flex;
  justify-content: space-between;
}

.review-single-page {
  margin-top: 20px;
  width: 600px;
}

.link-desc-review {
  display: flex;
  text-decoration: none;
}

.link-desc-review span {
  margin: 2px;
  width: 5px;
  height: 5px;
  display: block;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

/*section you like*/
@media (max-width: 1024px) {
  /* section item img single page */
  .item-small-img-page {
    width: 165px;
    height: 180px;
    background: #f0eeed;
    border-radius: 20px;
    transition: 500ms;
  }
  .item-small-img-page:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  }
  .item-big-img-page {
    width: 435px;
    height: 570px;
    background: #f0eeed;
    border-radius: 20px;
    transition: 500ms;
  }
  .item-big-img-page:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  }
  .item-img-single-page {
    margin-right: 15px;
  }
  /*section item desc single page*/
  .item-desc-single-page {
    width: 400px;
  }
  .item-title-single-page {
    font-family: "Integral CF", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
  }
  .review-btn,
  .review-btn-cart {
    padding: 0px;
    font-family: "Satoshi", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
  .item-count {
    padding: 15px 10px;
    width: 110px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background: #f0f0f0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 500ms;
  }
  .item-count:hover {
    transform: 1.1;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  .item-count:active {
    transform: scale(1);
    border: 1px solid #000000;
    background: #000000;
    font-weight: 500;
    color: #ffffff;
  }
  .item-count-change {
    width: 20px;
    height: 20px;
  }
  .item-count-input {
    max-width: 35px;
  }
  .review-btn-cart {
    width: 250px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background: #f0f0f0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 500ms;
  }
  .review-btn-cart:hover {
    transform: 1.1;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  .review-btn-cart:active {
    transform: scale(1);
    border: 1px solid #000000;
    background: #000000;
    font-weight: 500;
    color: #ffffff;
  }
  /* section item details single page */
  .title-item-details {
    width: 300px;
  }
  .review-single-page {
    width: 500px;
  }
}
@media (max-width: 768px) {
  /* section item img single page */
  .item-img-single-page {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
  }
  .img-single-page {
    margin-top: 10px;
    flex-direction: row;
  }
  .item-small-img-page {
    width: 110px;
    height: 105px;
    background: #f0eeed;
    border-radius: 20px;
    transition: 500ms;
  }
  .item-small-img-page:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  }
  .item-big-img-page {
    order: -1;
    width: 360px;
    height: 460px;
    background: #f0eeed;
    border-radius: 20px;
    transition: 500ms;
  }
  .item-big-img-page:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  }
  /* section item details single page */
  .title-item-details {
    width: 250px;
  }
  .review-single-page {
    width: 375px;
  }
}
@media (max-width: 576px) {
  .item-container {
    margin: 0px 15px;
    flex-direction: column;
  }
  /* section item img single page */
  .item-big-img-page {
    margin: 0px;
    padding: 0px;
    width: 355px;
    height: 390px;
    background: #f0eeed;
    border-radius: 20px;
    transition: 500ms;
  }
  .item-big-img-page:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  }
  .item-small-img-page {
    width: 110px;
    height: 105px;
    background: #f0eeed;
    border-radius: 20px;
    transition: 500ms;
  }
  .item-small-img-page:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  }
  .review-btn {
    width: 115px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background: #f0f0f0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 500ms;
  }
  .review-btn:hover {
    transform: 1.1;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  .review-btn:active {
    transform: scale(1);
    border: 1px solid #000000;
    background: #000000;
    font-weight: 500;
    color: #ffffff;
  }
  /* section item details single page */
  .title-item-details {
    width: 120px;
  }
  .review-single-page {
    width: 360px;
  }
  /*section item desc single page*/
  .item-title-single-page {
    margin: 0px;
    padding-bottom: 10px;
    font-family: "Integral CF", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
  }
  .item-rating-single-page {
    margin: 0px;
  }
  .star-single-page,
  .star-half-single-page {
    font-size: 18.67px;
  }
  .item-rating-star-single-page {
    font-family: "Satoshi", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
  }
  .item-selling-price-single-page,
  .item-basic-price-single-page {
    font-family: "Satoshi", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
  }
  .item-price-discount-single-page {
    margin-top: 0px;
    padding: 6px 12px;
    width: 60px;
    height: 30px;
  }
  .price-discount-single-page {
    font-family: "Satoshi", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
  }
  .desc-single-page {
    width: 360px;
    font-family: "Satoshi", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
  /* select colors */
  .item-colors-single-page {
    width: 360px;
  }
  .item-label-single-page {
    font-family: "Satoshi", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
  /* choose size */
  .review-btn-cart {
    width: 220px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background: #f0f0f0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 500ms;
  }
  .review-btn-cart:hover {
    transform: 1.1;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  .review-btn-cart:active {
    transform: scale(1);
    border: 1px solid #000000;
    background: #000000;
    font-weight: 500;
    color: #ffffff;
  }
  /*section product details single page*/
  .container-item-details {
    margin: 0px 15px;
  }
  .title-item-details {
    width: 130px;
    font-family: "Satoshi", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
  }
  /*section reviews single page*/
  .reviews-container-single-page {
    margin: 0px 15px;
  }
  .reviews-title-all {
    font-family: "Satoshi", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
  }
  .count-reviews {
    font-family: "Satoshi", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
  .select-option,
  .link-desc-review {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
  }
  /* reviews blocks */
  .review-adress {
    font-family: "Satoshi", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
  }
  /* section you like */
  .you-like-title {
    padding-right: 15px;
  }
}/*# sourceMappingURL=single-page.css.map */