/* mixin */
/* mixin */
/* section subscription */
.subscription {
  transform: translate(0px, 90px);
}

.subscription-container {
  padding: 35px 65px;
  max-width: 1240px;
  min-height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  border-radius: 20px;
  gap: 155px;
}

.subscription-text {
  margin: 0 auto;
  font-family: "Integral CF", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
}

.subscription-form {
  margin: 0 auto;
  padding: 0px;
  width: 350px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.mail-form,
.subscription-btn {
  padding: 15px;
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 500ms;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}
.mail-form:hover,
.subscription-btn:hover {
  transform: 1.1;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.mail-form:active,
.subscription-btn:active {
  transform: scale(1);
  border: 1px solid #000000;
  background: #000000;
  font-weight: 500;
  color: #ffffff;
}
.mail-form:active,
.subscription-btn:active {
  background: #ffffff;
  color: #000000;
}

.mail-img {
  padding: 3px;
}

.subscription-mail {
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
  border: none;
}
.subscription-mail:hover {
  outline: 0;
  outline-offset: 0;
}
.subscription-mail:focus {
  outline: 0;
  outline-offset: 0;
}
.subscription-mail:active {
  outline: 0;
  outline-offset: 0;
}

.subscription-mail::-moz-placeholder {
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
}

.subscription-mail::placeholder {
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
}

.mail-btn-title {
  font-family: "Satoshi", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

@media (max-width: 1024px) {
  .subscription-container {
    margin: 15px;
  }
}
@media (max-width: 768px) {
  .subscription-container {
    padding: 30px 25px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
@media (max-width: 576px) {
  .subscription-text {
    font-size: 32px;
  }
  .subscription-mail::-moz-placeholder {
    font-family: "Satoshi", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
  .mail-btn-title,
  .subscription-mail,
  .subscription-mail::placeholder {
    font-family: "Satoshi", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
  .mail-img {
    height: 20px;
  }
  .subscription {
    transform: translate(0px, 50px);
  }
  .mail-form,
  .subscription-btn {
    padding: 10px;
    width: 310px;
    height: 40px;
  }
}/*# sourceMappingURL=subscription.css.map */